USE [master]
GO
/****** Object:  Database [CIS440CarRentalProject]    Script Date: 11/15/2025 10:21:42 PM ******/
CREATE DATABASE [CIS440CarRentalProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CIS440CarRentalProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\CIS440CarRentalProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CIS440CarRentalProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\CIS440CarRentalProject_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CIS440CarRentalProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CIS440CarRentalProject]
GO
/****** Object:  Table [dbo].[ACHTransfers]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACHTransfers](
	[transferid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transferid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[PartyID] [int] NOT NULL,
	[AddressType] [char](1) NOT NULL,
	[StreetAddress] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[StateOrProvince] [varchar](50) NOT NULL,
	[ZipCode] [char](5) NULL,
	[Country] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agreements]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agreements](
	[agreementID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[AgreementDate] [date] NULL,
	[ExpirationDate] [date] NULL,
	[employeeid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[agreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banks]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banks](
	[bankid] [int] IDENTITY(1,1) NOT NULL,
	[bankname] [varchar](100) NOT NULL,
	[routingnumber] [varchar](20) NULL,
	[accountnumber] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[bankid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[CardID] [int] IDENTITY(1,1) NOT NULL,
	[CardType] [varchar](50) NOT NULL,
	[CardToken] [varchar](50) NOT NULL,
	[ExpirationYear] [char](4) NOT NULL,
	[ExpirationMonth] [char](2) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Checks]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checks](
	[CheckID] [int] NOT NULL,
	[CheckNumber] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountCode] [varchar](20) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[DiscountType] [char](1) NOT NULL,
	[DiscountAmount] [decimal](6, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverInsurance]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverInsurance](
	[InsuranceID] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
	[PolicyProvider] [varchar](50) NOT NULL,
	[PolicyNumber] [varchar](50) NOT NULL,
	[ExpirationDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InsuranceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriversLicense]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriversLicense](
	[DriversLicenseID] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
	[LicenseState] [char](2) NOT NULL,
	[LicenseNumber] [varchar](20) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DriversLicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emails]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emails](
	[EmailID] [int] NOT NULL,
	[PartyID] [int] NOT NULL,
	[EmailType] [char](1) NOT NULL,
	[EmailAddress] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[HireDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[PayRate] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [int] NOT NULL,
	[MaxVehicles] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parties]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parties](
	[PartyID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PartyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] NOT NULL,
	[personid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentsToOrders]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentsToOrders](
	[PaymentToOrderId] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
	[RentalOrderID] [int] NOT NULL,
	[PaymentAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentToOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[PersonID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleInitial] [char](1) NULL,
	[LastName] [varchar](50) NOT NULL,
	[Suffix] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phones]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phones](
	[PhoneID] [int] NOT NULL,
	[PartyID] [int] NOT NULL,
	[PhoneType] [char](1) NOT NULL,
	[CountryCode] [varchar](5) NULL,
	[PhoneNumber] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalOrders]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalOrders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[RentalID] [int] NOT NULL,
	[SubTotal] [decimal](10, 2) NULL,
	[DiscountID] [int] NULL,
	[Tax] [decimal](6, 2) NULL,
	[TotalDue] [decimal](10, 2) NULL,
	[OrderStatus] [char](1) NOT NULL,
	[DateModified] [datetime] NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rentals]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rentals](
	[RentalID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[AgreementID] [int] NOT NULL,
	[DriversLicenseID] [int] NOT NULL,
	[DriverInsuranceID] [int] NOT NULL,
	[Status] [char](1) NOT NULL,
	[IsOnlineReservation] [bit] NOT NULL,
	[PickupLocation] [int] NOT NULL,
	[DropOffLocation] [int] NULL,
	[EmployeeID] [int] NULL,
	[CreationDate] [datetime] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[ReturnedOnDate] [datetime] NULL,
	[StartMileage] [int] NOT NULL,
	[EndMileage] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleBlocks]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleBlocks](
	[BlockID] [int] NOT NULL,
	[VehicleID] [int] NOT NULL,
	[BlockStartDate] [datetime] NOT NULL,
	[BlockEndDate] [datetime] NULL,
	[BlockReason] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](50) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NULL,
	[LastModifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleDeleteAudit]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleDeleteAudit](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NULL,
	[Make] [varchar](20) NULL,
	[Model] [varchar](30) NULL,
	[Year] [char](4) NULL,
	[VIN] [char](23) NULL,
	[LicensePlate] [varchar](10) NULL,
	[DeletedBy] [sysname] NOT NULL,
	[DeletedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[CurrentLocation] [int] NOT NULL,
	[Make] [varchar](20) NOT NULL,
	[Model] [varchar](30) NOT NULL,
	[Year] [char](4) NOT NULL,
	[VIN] [char](23) NOT NULL,
	[Color] [varchar](20) NOT NULL,
	[VehicleType] [int] NOT NULL,
	[LicensePlate] [varchar](10) NOT NULL,
	[FuelType] [char](1) NOT NULL,
	[CurrentFuel] [int] NOT NULL,
	[Mileage] [int] NOT NULL,
	[MileageRate] [decimal](5, 2) NULL,
	[DailyRate] [decimal](6, 2) NULL,
	[BaseFee] [decimal](7, 2) NULL,
	[Status] [char](1) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleTypes]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleTypes](
	[VehicleTypes] [int] NOT NULL,
	[Type] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleTypes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rentals] ADD  DEFAULT ('0') FOR [Status]
GO
ALTER TABLE [dbo].[Rentals] ADD  DEFAULT ((0)) FOR [IsOnlineReservation]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ('0') FOR [Status]
GO
ALTER TABLE [dbo].[ACHTransfers]  WITH CHECK ADD  CONSTRAINT [achtransfers_transferid_banks_bankid] FOREIGN KEY([transferid])
REFERENCES [dbo].[banks] ([bankid])
GO
ALTER TABLE [dbo].[ACHTransfers] CHECK CONSTRAINT [achtransfers_transferid_banks_bankid]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [Addresses_PartyID_Parties_PartyID] FOREIGN KEY([PartyID])
REFERENCES [dbo].[Parties] ([PartyID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [Addresses_PartyID_Parties_PartyID]
GO
ALTER TABLE [dbo].[agreements]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[agreements]  WITH CHECK ADD FOREIGN KEY([employeeid])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[banks]  WITH CHECK ADD  CONSTRAINT [banks_bankid_payments_paymentid] FOREIGN KEY([bankid])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[banks] CHECK CONSTRAINT [banks_bankid_payments_paymentid]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [Cards_CardID_Payments_PaymentID] FOREIGN KEY([CardID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [Cards_CardID_Payments_PaymentID]
GO
ALTER TABLE [dbo].[Checks]  WITH CHECK ADD  CONSTRAINT [checks_checkid_banks_bankid] FOREIGN KEY([CheckID])
REFERENCES [dbo].[banks] ([bankid])
GO
ALTER TABLE [dbo].[Checks] CHECK CONSTRAINT [checks_checkid_banks_bankid]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [Customers_CustomerID_Persons_PersonID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [Customers_CustomerID_Persons_PersonID]
GO
ALTER TABLE [dbo].[DriverInsurance]  WITH CHECK ADD  CONSTRAINT [DriverInsurance_PersonID_Persons_PersonID] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[DriverInsurance] CHECK CONSTRAINT [DriverInsurance_PersonID_Persons_PersonID]
GO
ALTER TABLE [dbo].[DriversLicense]  WITH CHECK ADD  CONSTRAINT [DriversLicense_PersonID_Persons_PersonID] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[DriversLicense] CHECK CONSTRAINT [DriversLicense_PersonID_Persons_PersonID]
GO
ALTER TABLE [dbo].[Emails]  WITH CHECK ADD  CONSTRAINT [Emails_PartyID_Parties_PartyID] FOREIGN KEY([PartyID])
REFERENCES [dbo].[Parties] ([PartyID])
GO
ALTER TABLE [dbo].[Emails] CHECK CONSTRAINT [Emails_PartyID_Parties_PartyID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [Employees_EmployeeID_Persons_PersonID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [Employees_EmployeeID_Persons_PersonID]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [Locations_LocationID_Parties_PartyID] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Parties] ([PartyID])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [Locations_LocationID_Parties_PartyID]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [payments_personid_persons_personid] FOREIGN KEY([personid])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [payments_personid_persons_personid]
GO
ALTER TABLE [dbo].[PaymentsToOrders]  WITH CHECK ADD  CONSTRAINT [PaymentsToOrders_PaymentID_Payments_PaymentID] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[PaymentsToOrders] CHECK CONSTRAINT [PaymentsToOrders_PaymentID_Payments_PaymentID]
GO
ALTER TABLE [dbo].[PaymentsToOrders]  WITH CHECK ADD  CONSTRAINT [PaymentsToOrders_RentalOrderID_RentalOrders_OrderID] FOREIGN KEY([RentalOrderID])
REFERENCES [dbo].[RentalOrders] ([OrderID])
GO
ALTER TABLE [dbo].[PaymentsToOrders] CHECK CONSTRAINT [PaymentsToOrders_RentalOrderID_RentalOrders_OrderID]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [Persons_PersonID_Parties_PartyID] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Parties] ([PartyID])
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [Persons_PersonID_Parties_PartyID]
GO
ALTER TABLE [dbo].[Phones]  WITH CHECK ADD  CONSTRAINT [Phones_PartyID_Parties_PartyID] FOREIGN KEY([PartyID])
REFERENCES [dbo].[Parties] ([PartyID])
GO
ALTER TABLE [dbo].[Phones] CHECK CONSTRAINT [Phones_PartyID_Parties_PartyID]
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [RentalOrders_CustomerID_Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [RentalOrders_CustomerID_Customers_CustomerID]
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [RentalOrders_DiscountID_Discounts_DiscountID] FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discounts] ([DiscountID])
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [RentalOrders_DiscountID_Discounts_DiscountID]
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [RentalOrders_RentalID_Rentals_RentalID] FOREIGN KEY([RentalID])
REFERENCES [dbo].[Rentals] ([RentalID])
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [RentalOrders_RentalID_Rentals_RentalID]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [Rentals_DriverInsuranceID_DriverInsurance_InsuranceID] FOREIGN KEY([DriverInsuranceID])
REFERENCES [dbo].[DriverInsurance] ([InsuranceID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [Rentals_DriverInsuranceID_DriverInsurance_InsuranceID]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [Rentals_DriversLicenseID_DriversLicense_DriversLicenseID] FOREIGN KEY([DriversLicenseID])
REFERENCES [dbo].[DriversLicense] ([DriversLicenseID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [Rentals_DriversLicenseID_DriversLicense_DriversLicenseID]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [Rentals_DropOffLocation_Locations_LocationID] FOREIGN KEY([DropOffLocation])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [Rentals_DropOffLocation_Locations_LocationID]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [Rentals_EmployeeID_Employees_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [Rentals_EmployeeID_Employees_EmployeeID]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [Rentals_PickupLocation_Locations_LocationID] FOREIGN KEY([PickupLocation])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [Rentals_PickupLocation_Locations_LocationID]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [Rentals_VehicleID_Vehicles_VehicleID] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [Rentals_VehicleID_Vehicles_VehicleID]
GO
ALTER TABLE [dbo].[ScheduleBlocks]  WITH CHECK ADD  CONSTRAINT [ScheduleBlocks_VehicleID_Vehicles_VehicleID] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[ScheduleBlocks] CHECK CONSTRAINT [ScheduleBlocks_VehicleID_Vehicles_VehicleID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [Users_UserID_Persons_PersonID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [Users_UserID_Persons_PersonID]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [Vehicles_CurrentLocation_Locations_LocationID] FOREIGN KEY([CurrentLocation])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [Vehicles_CurrentLocation_Locations_LocationID]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [Vehicles_VehicleType_VehicleTypes_VehicleTypes] FOREIGN KEY([VehicleType])
REFERENCES [dbo].[VehicleTypes] ([VehicleTypes])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [Vehicles_VehicleType_VehicleTypes_VehicleTypes]
GO
/****** Object:  StoredProcedure [dbo].[GetRevenueByLocation]    Script Date: 11/15/2025 10:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROC [dbo].[GetRevenueByLocation]
    @StartDate date = NULL,      
    @EndDate   date = NULL       
AS
BEGIN
    SET NOCOUNT ON;

    IF OBJECT_ID('tempdb..#temp') IS NOT NULL
        DROP TABLE #temp;

    /* Build the base rows, then apply optional date filters on PaymentDate */
    SELECT
        l.LocationID,
        a.City,
        a.StateOrProvince,
        ro.TotalDue
    INTO #temp
    FROM dbo.Locations     AS l
    JOIN dbo.Addresses     AS a  ON l.LocationID = a.PartyID
    JOIN dbo.Rentals       AS r  ON r.PickupLocation = l.LocationID
    JOIN dbo.RentalOrders  AS ro ON ro.RentalID      = r.RentalID
    WHERE
        (@StartDate IS NULL OR ro.PaymentDate >= @StartDate)
        AND (@EndDate IS NULL OR ro.PaymentDate < DATEADD(day, 1, @EndDate));  -- inclusive end

    DECLARE @cols      nvarchar(max);
    DECLARE @colsalias nvarchar(max);
    DECLARE @sql       nvarchar(max);

    SELECT @cols =
        STRING_AGG(QUOTENAME(CAST(LocationID AS varchar(20))), ',')
            WITHIN GROUP (ORDER BY LocationID)
    FROM (SELECT DISTINCT LocationID FROM #temp) d;

    SELECT @colsalias =
        STRING_AGG(
            QUOTENAME(CAST(LocationID AS varchar(20))) + N' AS ' +
            QUOTENAME(City + N', ' + StateOrProvince),
            ','
        ) WITHIN GROUP (ORDER BY LocationID)
    FROM (SELECT DISTINCT LocationID, City, StateOrProvince FROM #temp) d;

    IF @cols IS NULL
    BEGIN
        -- no rows in range
        SELECT N'TotalRevenue' AS [TotalRevenueByLocation];
        RETURN;
    END

    SET @sql = N'
        SELECT ''TotalRevenue'' AS [TotalRevenueByLocation], ' + @colsalias + N'
        FROM (
            SELECT LocationID, TotalDue
            FROM #temp
        ) AS s
        PIVOT (
            SUM(TotalDue) FOR LocationID IN (' + @cols + N')
        ) AS p;
    ';

    EXEC sys.sp_executesql @sql;

    DROP TABLE #temp;
END
GO
USE [master]
GO
