USE [master]
GO
/****** Object:  Database [440RentalProject]    Script Date: 11/9/2025 3:57:52 PM ******/
CREATE DATABASE [440RentalProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'440RentalCar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\440RentalCar.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'440RentalCar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\440RentalCar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [440RentalProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [440RentalProject]
GO
/****** Object:  Table [dbo].[DriversLicense]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriversLicense](
	[LicenseID] [int] IDENTITY(1,1) NOT NULL,
	[License_Number] [nvarchar](25) NOT NULL,
	[State] [nchar](2) NOT NULL,
	[DOB] [date] NOT NULL,
	[Expiration] [date] NOT NULL,
	[VerifiedOn] [datetime] NULL,
	[CustomerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vActiveDriversLicense]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Active licenses only
CREATE   VIEW [dbo].[vActiveDriversLicense] AS
SELECT *
FROM dbo.DriversLicense
WHERE EffectiveEndDate IS NULL;
GO
/****** Object:  Table [dbo].[PrimaryCustomer]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrimaryCustomer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Last_Name] [nvarchar](50) NULL,
	[First_Name] [nvarchar](50) NULL,
	[Middle_Initial] [char](3) NULL,
	[Suffix] [char](3) NULL,
	[Gender] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vCustomerDriversLicenses]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- All licenses for a specific customer
CREATE   VIEW [dbo].[vCustomerDriversLicenses] AS
SELECT dl.*
FROM dbo.DriversLicense dl
JOIN dbo.PrimaryCustomer pc ON pc.CustomerID = dl.CustomerID;
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[Vehicle_Make] [nvarchar](50) NOT NULL,
	[Vehicle_Model] [nvarchar](50) NOT NULL,
	[Vehicle_Year] [int] NOT NULL,
	[Vehicle_VIN] [nvarchar](50) NOT NULL,
	[Vehicle_Mileage] [int] NOT NULL,
	[Vehicle_Fuel_Level] [decimal](10, 2) NOT NULL,
	[Vehicle_TypeID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Home_Location_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Vehicle_VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalAgreement]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalAgreement](
	[RentalID] [int] IDENTITY(1,1) NOT NULL,
	[Start_DATE] [date] NOT NULL,
	[End_DATE] [date] NULL,
	[Vehicle_ID] [int] NOT NULL,
	[Pickup_Location_ID] [int] NOT NULL,
	[Dropoff_Location_ID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[RentalStatusID] [tinyint] NOT NULL,
 CONSTRAINT [PK_RentalAgreement] PRIMARY KEY CLUSTERED 
(
	[RentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vRentalAgreementCheck]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vRentalAgreementCheck]
AS
SELECT
    ra.RentalID,
    ra.Vehicle_ID,
    v.VehicleID,
    v.Vehicle_Make,
    v.Vehicle_Model,
    v.Vehicle_Year,
    ra.Start_DATE,
    ra.End_DATE,
    ra.Pickup_Location_ID,
    ra.Dropoff_Location_ID
FROM dbo.RentalAgreement ra
LEFT JOIN dbo.Vehicle v
    ON ra.Vehicle_ID = v.VehicleID;
GO
/****** Object:  Table [dbo].[VehicleSchedule]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleSchedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[Start_Date_Time] [datetime] NOT NULL,
	[End_Date_Time] [datetime] NULL,
	[Schedule_Type] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[VehicleID] [int] NOT NULL,
	[RentalID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[Location_Name] [varchar](50) NOT NULL,
	[Address1] [varchar](100) NOT NULL,
	[Address2] [varchar](100) NULL,
	[Addendum] [varchar](100) NULL,
	[City] [varchar](50) NOT NULL,
	[State] [nchar](2) NOT NULL,
	[Zip_Code] [varchar](20) NOT NULL,
	[Country] [varchar](100) NULL,
	[Phone_Number] [varchar](15) NULL,
	[Email] [nvarchar](255) NULL,
	[isActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vScheduleRentalCheck]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vScheduleRentalCheck]
AS
SELECT
    vs.ScheduleID,
    vs.Schedule_Type,
    vs.Status              AS Schedule_Status,
    vs.Start_Date_Time,
    vs.End_Date_Time,
    vs.Notes               AS Schedule_Notes,
    vs.VehicleID           AS Schedule_VehicleID,
    vs.RentalID            AS Schedule_RentalID,

    ra.RentalID            AS Linked_RentalID,
    ra.Vehicle_ID          AS Rental_Vehicle_ID,
    ra.Start_DATE          AS Rental_Start_DATE,
    ra.End_DATE            AS Rental_End_DATE,
    ra.Pickup_Location_ID,
    ra.Dropoff_Location_ID,

    pickup.Location_Name   AS Pickup_Location_Name,
    dropoff.Location_Name  AS Dropoff_Location_Name,

    v.Vehicle_Make,
    v.Vehicle_Model,
    v.Vehicle_Year

FROM dbo.VehicleSchedule vs
LEFT JOIN dbo.RentalAgreement ra
    ON vs.RentalID = ra.RentalID
LEFT JOIN dbo.Vehicle v
    ON vs.VehicleID = v.VehicleID
LEFT JOIN dbo.Location pickup
    ON ra.Pickup_Location_ID = pickup.LocationID
LEFT JOIN dbo.Location dropoff
    ON ra.Dropoff_Location_ID = dropoff.LocationID;
GO
/****** Object:  Table [dbo].[JobTitle]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTitle](
	[Job_TitleID] [int] IDENTITY(1,1) NOT NULL,
	[Job_Title_Name] [nvarchar](100) NOT NULL,
	[Notes] [nvarchar](200) NULL,
	[Salary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Job_TitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](50) NOT NULL,
	[Middle_Initial] [char](1) NULL,
	[LastName] [varchar](50) NOT NULL,
	[Hire_Date] [date] NOT NULL,
	[End_Date] [datetime] NULL,
	[Status] [varchar](20) NOT NULL,
	[Employee_Phone] [varchar](15) NULL,
	[Job_TitleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalStaff]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalStaff](
	[RentalStaffID] [int] IDENTITY(1,1) NOT NULL,
	[RentalID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[Occured_At] [datetime] NOT NULL,
	[Tips] [decimal](10, 2) NULL,
	[Notes] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RentalStaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_RentalStaffDetails]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_RentalStaffDetails]
AS
SELECT 
    RS.RentalStaffID,
    RS.RentalID,
    RA.Start_DATE AS RentalStartDate,
    RA.End_DATE AS RentalEndDate,
    E.EmployeeID,
    E.First_Name + ' ' + E.LastName AS EmployeeName,
    JT.Job_Title_Name AS EmployeeJobTitle,
    RS.Role AS RentalRole,
    RS.Occured_At AS StaffActionDate,
    RS.Tips,
    RS.Notes
FROM dbo.RentalStaff RS
JOIN dbo.Employee E 
    ON RS.EmployeeID = E.EmployeeID
JOIN dbo.JobTitle JT 
    ON E.Job_TitleID = JT.Job_TitleID
JOIN dbo.RentalAgreement RA
    ON RS.RentalID = RA.RentalID;
GO
/****** Object:  Table [dbo].[PhoneNumber]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneNumber](
	[Phone_NumberID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](20) NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Extension] [nvarchar](5) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Phone_NumberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerPhone]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerPhone](
	[CustomerID] [int] NOT NULL,
	[Phone_NumberID] [int] NOT NULL,
	[IsPrimary] [bit] NULL,
	[Notes] [nvarchar](100) NULL,
	[Start_Date] [datetime] NULL,
	[End_Date] [datetime] NULL,
 CONSTRAINT [PK_CustomerPhone] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[Phone_NumberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vCustomerPrimaryPhone]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vCustomerPrimaryPhone]
AS
SELECT 
    c.CustomerID,
    c.First_Name,
    c.Last_Name,
    pn.PhoneNumber,
    pn.Type AS PhoneType,
    cp.Notes,
    cp.Start_Date
FROM dbo.CustomerPhone cp
JOIN dbo.PrimaryCustomer c  ON c.CustomerID = cp.CustomerID
JOIN dbo.PhoneNumber   pn ON pn.Phone_NumberID = cp.Phone_NumberID
WHERE cp.IsPrimary = 1;
GO
/****** Object:  View [dbo].[vCustomerPhones]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vCustomerPhones]
AS
SELECT 
    c.CustomerID,
    c.First_Name,
    c.Last_Name,
    pn.Phone_NumberID,
    pn.PhoneNumber,
    pn.Type        AS PhoneType,
    cp.IsPrimary,
    CASE 
        WHEN cp.IsPrimary = 1 THEN 'Yes'
        WHEN cp.IsPrimary = 0 THEN 'No'
        ELSE 'N/A'
    END AS PrimaryLabel,
    cp.Notes,
    cp.Start_Date,
    cp.End_Date
FROM dbo.PrimaryCustomer c
LEFT JOIN dbo.CustomerPhone cp 
    ON c.CustomerID = cp.CustomerID
LEFT JOIN dbo.PhoneNumber pn 
    ON pn.Phone_NumberID = cp.Phone_NumberID;
GO
/****** Object:  Table [dbo].[EmailAddress]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailAddress](
	[EmailAddressID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](254) NOT NULL,
	[Type] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmailAddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerEmail]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerEmail](
	[CustomerID] [int] NOT NULL,
	[EmailAddressID] [int] NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[Start_Date] [datetime] NULL,
	[End_Date] [datetime] NULL,
 CONSTRAINT [PK_CustomerEmail] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[EmailAddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vCustomerEmails]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vCustomerEmails]
AS
SELECT 
    c.CustomerID,
    c.First_Name,
    c.Last_Name,
    ea.EmailAddressID,
    ea.Email,
    ea.Type          AS EmailType,
    ce.IsPrimary,
    CASE 
        WHEN ce.IsPrimary = 1 THEN 'Yes'
        WHEN ce.IsPrimary = 0 THEN 'No'
        ELSE 'N/A'
    END AS PrimaryLabel,
    CASE 
        WHEN ce.End_Date IS NULL THEN 'Active'
        ELSE 'Inactive'
    END AS Status,
    ce.Notes,
    ce.Start_Date,
    ce.End_Date
FROM dbo.PrimaryCustomer c
LEFT JOIN dbo.CustomerEmail ce 
    ON c.CustomerID = ce.CustomerID
LEFT JOIN dbo.EmailAddress ea 
    ON ea.EmailAddressID = ce.EmailAddressID;
GO
/****** Object:  View [dbo].[vCustomerContacts]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vCustomerContacts]
AS
/* Phones */
SELECT
    c.CustomerID,
    c.First_Name,
    c.Last_Name,
    CAST(pn.Phone_NumberID AS INT)    AS ContactID,
    N'Phone'                           AS ContactType,
    pn.PhoneNumber                     AS ContactValue,
    pn.Type                            AS ContactSubType,   -- Mobile/Home/Work
    cp.IsPrimary,
    CASE WHEN cp.IsPrimary = 1 THEN 'Yes'
         WHEN cp.IsPrimary = 0 THEN 'No'
         ELSE 'N/A' END               AS PrimaryLabel,
    CASE WHEN cp.End_Date IS NULL THEN 'Active'
         ELSE 'Inactive' END          AS Status,
    cp.Notes,
    cp.Start_Date,
    cp.End_Date
FROM dbo.PrimaryCustomer c
LEFT JOIN dbo.CustomerPhone cp
  ON cp.CustomerID = c.CustomerID
LEFT JOIN dbo.PhoneNumber pn
  ON pn.Phone_NumberID = cp.Phone_NumberID

UNION ALL

/* Emails */
SELECT
    c.CustomerID,
    c.First_Name,
    c.Last_Name,
    CAST(ea.EmailAddressID AS INT)    AS ContactID,
    N'Email'                           AS ContactType,
    ea.Email                           AS ContactValue,
    ea.Type                            AS ContactSubType,   -- Personal/Work/School/Shared
    ce.IsPrimary,
    CASE WHEN ce.IsPrimary = 1 THEN 'Yes'
         WHEN ce.IsPrimary = 0 THEN 'No'
         ELSE 'N/A' END               AS PrimaryLabel,
    CASE WHEN ce.End_Date IS NULL THEN 'Active'
         ELSE 'Inactive' END          AS Status,
    ce.Notes,
    ce.Start_Date,
    ce.End_Date
FROM dbo.PrimaryCustomer c
LEFT JOIN dbo.CustomerEmail ce
  ON ce.CustomerID = c.CustomerID
LEFT JOIN dbo.EmailAddress ea
  ON ea.EmailAddressID = ce.EmailAddressID;
GO
/****** Object:  Table [dbo].[Insurance]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurance](
	[InsuranceID] [int] IDENTITY(1,1) NOT NULL,
	[Provider] [nvarchar](50) NOT NULL,
	[PolicyNumber] [nvarchar](50) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[EffectiveOn] [date] NOT NULL,
	[ExpirationOn] [date] NULL,
	[VerifiedAt] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InsuranceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_Insurance_Provider_Policy] UNIQUE NONCLUSTERED 
(
	[Provider] ASC,
	[PolicyNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerInsurance]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerInsurance](
	[CustomerID] [int] NOT NULL,
	[InsuranceID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[VerifiedOn] [datetime] NULL,
	[Notes] [nvarchar](100) NULL,
 CONSTRAINT [PK_CustomerInsurance] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[InsuranceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vCustomerInsurance]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vCustomerInsurance]
AS
SELECT 
  c.CustomerID, c.First_Name, c.Last_Name,
  i.InsuranceID, i.Provider, i.PolicyNumber, i.Status,
  i.EffectiveOn, i.ExpirationOn,
  ci.IsActive, ci.VerifiedOn, ci.Notes
FROM dbo.PrimaryCustomer c
LEFT JOIN dbo.CustomerInsurance ci ON ci.CustomerID = c.CustomerID
LEFT JOIN dbo.Insurance i          ON i.InsuranceID = ci.InsuranceID;
GO
/****** Object:  View [dbo].[vPolicyShareSummary]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vPolicyShareSummary]
AS
SELECT
    i.InsuranceID,
    i.Provider,
    i.PolicyNumber,
    i.Status,
    i.EffectiveOn,
    i.ExpirationOn,
    COUNT(*)                           AS MemberCount,
    SUM(CASE WHEN ci.IsActive = 1 THEN 1 ELSE 0 END) AS ActiveMemberCount
FROM dbo.Insurance i
LEFT JOIN dbo.CustomerInsurance ci ON ci.InsuranceID = i.InsuranceID
GROUP BY i.InsuranceID, i.Provider, i.PolicyNumber, i.Status, i.EffectiveOn, i.ExpirationOn;
GO
/****** Object:  View [dbo].[vSharedPolicyMembers]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vSharedPolicyMembers]
AS
SELECT
  i.InsuranceID, i.Provider, i.PolicyNumber,
  c.CustomerID, c.First_Name, c.Last_Name,
  ci.IsActive, ci.VerifiedOn, ci.Notes
FROM dbo.CustomerInsurance ci
JOIN dbo.Insurance i       ON i.InsuranceID = ci.InsuranceID
JOIN dbo.PrimaryCustomer c ON c.CustomerID  = ci.CustomerID
WHERE i.InsuranceID IN (
    SELECT InsuranceID
    FROM dbo.CustomerInsurance
    GROUP BY InsuranceID
    HAVING COUNT(*) > 1
);
GO
/****** Object:  View [dbo].[vSharedPolicySummary_ActiveOnly]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vSharedPolicySummary_ActiveOnly]
AS
SELECT
    i.InsuranceID,
    i.Provider,
    i.PolicyNumber,
    i.Status,
    i.EffectiveOn,
    i.ExpirationOn,
    SUM(CASE WHEN ci.IsActive = 1 THEN 1 ELSE 0 END) AS ActiveMemberCount
FROM dbo.Insurance i
JOIN dbo.CustomerInsurance ci
  ON ci.InsuranceID = i.InsuranceID
GROUP BY i.InsuranceID, i.Provider, i.PolicyNumber, i.Status, i.EffectiveOn, i.ExpirationOn
HAVING SUM(CASE WHEN ci.IsActive = 1 THEN 1 ELSE 0 END) > 1;   -- ✅ 2+ active members
GO
/****** Object:  View [dbo].[vSharedPolicySummary]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vSharedPolicySummary]
AS
SELECT
    i.InsuranceID,
    i.Provider,
    i.PolicyNumber,
    i.Status,
    i.EffectiveOn,
    i.ExpirationOn,
    COUNT(*) AS MemberCount,
    SUM(CASE WHEN ci.IsActive = 1 THEN 1 ELSE 0 END) AS ActiveMemberCount
FROM dbo.Insurance i
JOIN dbo.CustomerInsurance ci
  ON ci.InsuranceID = i.InsuranceID         -- inner join: drop policies with 0 members
GROUP BY i.InsuranceID, i.Provider, i.PolicyNumber, i.Status, i.EffectiveOn, i.ExpirationOn
HAVING COUNT(*) > 1;                         -- ✅ only shared
GO
/****** Object:  Table [dbo].[AccidentCharge]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccidentCharge](
	[AccidentChargeID] [int] IDENTITY(1,1) NOT NULL,
	[Charge_Type] [nvarchar](200) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[ChargeDate] [date] NOT NULL,
	[Notes] [nvarchar](200) NULL,
	[AccidentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccidentChargeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccidentDriver]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccidentDriver](
	[Accident_DriverID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](10) NOT NULL,
	[Injured] [bit] NOT NULL,
	[Added_On] [datetime] NOT NULL,
	[AccidentID] [int] NOT NULL,
	[LicenseID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Accident_DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccidentReport]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccidentReport](
	[AccidentID] [int] IDENTITY(1,1) NOT NULL,
	[Report_Date] [datetime] NOT NULL,
	[Accident_Description] [nvarchar](200) NULL,
	[RentalID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccidentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[CalcType] [nvarchar](20) NULL,
	[Value] [decimal](10, 2) NOT NULL,
	[Start_Date] [date] NULL,
	[End_Date] [date] NULL,
	[Type] [nvarchar](20) NULL,
	[isActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fee]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fee](
	[FeeID] [int] IDENTITY(1,1) NOT NULL,
	[Fee_Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Calc_Type] [nvarchar](20) NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[isActive] [bit] NOT NULL,
	[Create_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyAccount]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyAccount](
	[LoyaltyID] [int] IDENTITY(1,1) NOT NULL,
	[Points_Balance] [int] NOT NULL,
	[AccountNumber] [nvarchar](20) NOT NULL,
	[Tier_Level] [nvarchar](20) NULL,
	[Enroll_Date] [date] NOT NULL,
	[Last_Activity_Date] [date] NULL,
	[Status] [nvarchar](20) NULL,
	[isActive] [bit] NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[Created_At] [datetime] NOT NULL,
	[CustomerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoyaltyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyEarning]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyEarning](
	[EarningID] [int] IDENTITY(1,1) NOT NULL,
	[Eligible_Amount] [decimal](10, 2) NOT NULL,
	[Earn_Rate] [decimal](10, 2) NOT NULL,
	[Points_Earned] [int] NOT NULL,
	[Source] [nvarchar](20) NULL,
	[Created_At] [datetime] NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[PaymentID] [int] NULL,
	[LoyaltyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EarningID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyRedemption]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyRedemption](
	[Loyalty_RedemptionID] [int] IDENTITY(1,1) NOT NULL,
	[Points_Used] [int] NOT NULL,
	[Amount_Applied] [decimal](10, 2) NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[Created_At] [datetime] NOT NULL,
	[Type] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NULL,
	[isActive] [bit] NOT NULL,
	[Rate_Per_Point] [decimal](10, 2) NULL,
	[PaymentDiscountID] [int] NULL,
	[LoyaltyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Loyalty_RedemptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[Sub_Total] [decimal](10, 2) NOT NULL,
	[Tax_Amount] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Currency] [char](3) NOT NULL,
	[Payment_Date] [datetime] NOT NULL,
	[Card_Last4] [char](4) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](20) NULL,
	[RentalID] [int] NOT NULL,
	[MethodID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentDiscount]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDiscount](
	[PaymentDiscountID] [int] IDENTITY(1,1) NOT NULL,
	[Applied_Amount] [decimal](10, 2) NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[PaymentID] [int] NOT NULL,
	[DiscountID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentDiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentFee]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentFee](
	[PaymentFeeID] [int] IDENTITY(1,1) NOT NULL,
	[Amount_Applied] [decimal](10, 2) NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[Applied_At] [datetime] NOT NULL,
	[PaymentID] [int] NOT NULL,
	[FeeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentFeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[MethodID] [int] IDENTITY(1,1) NOT NULL,
	[Payment_Name] [nvarchar](20) NOT NULL,
	[Provider] [nvarchar](50) NULL,
	[isCard] [bit] NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[isActive] [bit] NOT NULL,
	[Created_At] [datetime] NOT NULL,
	[Updated_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromoCode]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromoCode](
	[DiscountID] [int] NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[Min_Sub_Total] [decimal](10, 2) NULL,
	[Max_Redemptions] [int] NULL,
	[Per_Customer_Limit] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalDrivers]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalDrivers](
	[RentalDriverID] [int] IDENTITY(1,1) NOT NULL,
	[isPrimary] [bit] NOT NULL,
	[Added_On] [datetime] NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[RentalID] [int] NOT NULL,
	[LicenseID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RentalDriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalStatus]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalStatus](
	[RentalStatusID] [tinyint] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RentalStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleType]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleType](
	[Vehicle_TypeID] [int] IDENTITY(1,1) NOT NULL,
	[Vehicle_Name] [varchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[Base_Rate_Per_Day] [decimal](10, 2) NOT NULL,
	[Rate_Per_Hour] [decimal](10, 2) NOT NULL,
	[Seating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Vehicle_TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UX_CustomerEmail_PrimaryOnePerCustomer]    Script Date: 11/9/2025 3:57:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CustomerEmail_PrimaryOnePerCustomer] ON [dbo].[CustomerEmail]
(
	[CustomerID] ASC
)
WHERE ([IsPrimary]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_CI_OneActivePerCustomer]    Script Date: 11/9/2025 3:57:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CI_OneActivePerCustomer] ON [dbo].[CustomerInsurance]
(
	[CustomerID] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_CustomerPhone_PrimaryOnePerCustomer]    Script Date: 11/9/2025 3:57:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CustomerPhone_PrimaryOnePerCustomer] ON [dbo].[CustomerPhone]
(
	[CustomerID] ASC
)
WHERE ([IsPrimary]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_EmailAddress_Email]    Script Date: 11/9/2025 3:57:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_EmailAddress_Email] ON [dbo].[EmailAddress]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_RentalDrivers_PrimaryDriver]    Script Date: 11/9/2025 3:57:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_RentalDrivers_PrimaryDriver] ON [dbo].[RentalDrivers]
(
	[RentalID] ASC
)
WHERE ([isPrimary]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccidentCharge] ADD  DEFAULT (getdate()) FOR [ChargeDate]
GO
ALTER TABLE [dbo].[AccidentDriver] ADD  CONSTRAINT [DF_AccidentDriver_Injured]  DEFAULT ((0)) FOR [Injured]
GO
ALTER TABLE [dbo].[AccidentDriver] ADD  DEFAULT (getdate()) FOR [Added_On]
GO
ALTER TABLE [dbo].[AccidentReport] ADD  DEFAULT (getdate()) FOR [Report_Date]
GO
ALTER TABLE [dbo].[CustomerEmail] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[CustomerInsurance] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CustomerPhone] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[Discount] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[EmailAddress] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Fee] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Fee] ADD  DEFAULT (getdate()) FOR [Create_At]
GO
ALTER TABLE [dbo].[Insurance] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Insurance] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Location] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Location] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LoyaltyAccount] ADD  DEFAULT ((0)) FOR [Points_Balance]
GO
ALTER TABLE [dbo].[LoyaltyAccount] ADD  DEFAULT (getdate()) FOR [Enroll_Date]
GO
ALTER TABLE [dbo].[LoyaltyAccount] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[LoyaltyAccount] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[LoyaltyEarning] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[LoyaltyRedemption] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[LoyaltyRedemption] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [Payment_Date]
GO
ALTER TABLE [dbo].[PaymentFee] ADD  DEFAULT (getdate()) FOR [Applied_At]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  DEFAULT ((0)) FOR [isCard]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[PhoneNumber] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RentalAgreement] ADD  CONSTRAINT [DF_RentalAgreement_StatusID]  DEFAULT ((1)) FOR [RentalStatusID]
GO
ALTER TABLE [dbo].[RentalDrivers] ADD  CONSTRAINT [DF_RentalDrivers_isPrimary]  DEFAULT ((0)) FOR [isPrimary]
GO
ALTER TABLE [dbo].[RentalDrivers] ADD  DEFAULT (getdate()) FOR [Added_On]
GO
ALTER TABLE [dbo].[RentalStaff] ADD  DEFAULT (getdate()) FOR [Occured_At]
GO
ALTER TABLE [dbo].[RentalStaff] ADD  CONSTRAINT [DF_RentalStaff_Tips]  DEFAULT ((0.00)) FOR [Tips]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VehicleSchedule] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AccidentCharge]  WITH CHECK ADD  CONSTRAINT [FK_AccidentCharge_AccidentReport] FOREIGN KEY([AccidentID])
REFERENCES [dbo].[AccidentReport] ([AccidentID])
GO
ALTER TABLE [dbo].[AccidentCharge] CHECK CONSTRAINT [FK_AccidentCharge_AccidentReport]
GO
ALTER TABLE [dbo].[AccidentDriver]  WITH CHECK ADD  CONSTRAINT [FK_AccidentDriver_AccidentReport] FOREIGN KEY([AccidentID])
REFERENCES [dbo].[AccidentReport] ([AccidentID])
GO
ALTER TABLE [dbo].[AccidentDriver] CHECK CONSTRAINT [FK_AccidentDriver_AccidentReport]
GO
ALTER TABLE [dbo].[AccidentDriver]  WITH CHECK ADD  CONSTRAINT [FK_AccidentDriver_DriversLicense] FOREIGN KEY([LicenseID])
REFERENCES [dbo].[DriversLicense] ([LicenseID])
GO
ALTER TABLE [dbo].[AccidentDriver] CHECK CONSTRAINT [FK_AccidentDriver_DriversLicense]
GO
ALTER TABLE [dbo].[AccidentReport]  WITH CHECK ADD  CONSTRAINT [FK_AccidentReport_RentalAgreement] FOREIGN KEY([RentalID])
REFERENCES [dbo].[RentalAgreement] ([RentalID])
GO
ALTER TABLE [dbo].[AccidentReport] CHECK CONSTRAINT [FK_AccidentReport_RentalAgreement]
GO
ALTER TABLE [dbo].[CustomerEmail]  WITH CHECK ADD  CONSTRAINT [FK_CustomerEmail_EmailAddress] FOREIGN KEY([EmailAddressID])
REFERENCES [dbo].[EmailAddress] ([EmailAddressID])
GO
ALTER TABLE [dbo].[CustomerEmail] CHECK CONSTRAINT [FK_CustomerEmail_EmailAddress]
GO
ALTER TABLE [dbo].[CustomerEmail]  WITH CHECK ADD  CONSTRAINT [FK_CustomerEmail_PrimaryCustomer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[PrimaryCustomer] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerEmail] CHECK CONSTRAINT [FK_CustomerEmail_PrimaryCustomer]
GO
ALTER TABLE [dbo].[CustomerInsurance]  WITH CHECK ADD  CONSTRAINT [FK_CustomerInsurance_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[PrimaryCustomer] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerInsurance] CHECK CONSTRAINT [FK_CustomerInsurance_Customer]
GO
ALTER TABLE [dbo].[CustomerInsurance]  WITH CHECK ADD  CONSTRAINT [FK_CustomerInsurance_Insurance] FOREIGN KEY([InsuranceID])
REFERENCES [dbo].[Insurance] ([InsuranceID])
GO
ALTER TABLE [dbo].[CustomerInsurance] CHECK CONSTRAINT [FK_CustomerInsurance_Insurance]
GO
ALTER TABLE [dbo].[CustomerPhone]  WITH CHECK ADD  CONSTRAINT [FK_CustomerPhone_PhoneNumber] FOREIGN KEY([Phone_NumberID])
REFERENCES [dbo].[PhoneNumber] ([Phone_NumberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerPhone] CHECK CONSTRAINT [FK_CustomerPhone_PhoneNumber]
GO
ALTER TABLE [dbo].[CustomerPhone]  WITH CHECK ADD  CONSTRAINT [FK_CustomerPhone_PrimaryCustomer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[PrimaryCustomer] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerPhone] CHECK CONSTRAINT [FK_CustomerPhone_PrimaryCustomer]
GO
ALTER TABLE [dbo].[DriversLicense]  WITH CHECK ADD  CONSTRAINT [FK_DriversLicense_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[PrimaryCustomer] ([CustomerID])
GO
ALTER TABLE [dbo].[DriversLicense] CHECK CONSTRAINT [FK_DriversLicense_Customer]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_JobTitle] FOREIGN KEY([Job_TitleID])
REFERENCES [dbo].[JobTitle] ([Job_TitleID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_JobTitle]
GO
ALTER TABLE [dbo].[LoyaltyAccount]  WITH CHECK ADD  CONSTRAINT [FK_LoyaltyAccount_PrimaryCustomer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[PrimaryCustomer] ([CustomerID])
GO
ALTER TABLE [dbo].[LoyaltyAccount] CHECK CONSTRAINT [FK_LoyaltyAccount_PrimaryCustomer]
GO
ALTER TABLE [dbo].[LoyaltyEarning]  WITH CHECK ADD  CONSTRAINT [FK_LoyaltyEarning_LoyaltyAccount] FOREIGN KEY([LoyaltyID])
REFERENCES [dbo].[LoyaltyAccount] ([LoyaltyID])
GO
ALTER TABLE [dbo].[LoyaltyEarning] CHECK CONSTRAINT [FK_LoyaltyEarning_LoyaltyAccount]
GO
ALTER TABLE [dbo].[LoyaltyEarning]  WITH CHECK ADD  CONSTRAINT [FK_LoyaltyEarning_Payment] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payment] ([PaymentID])
GO
ALTER TABLE [dbo].[LoyaltyEarning] CHECK CONSTRAINT [FK_LoyaltyEarning_Payment]
GO
ALTER TABLE [dbo].[LoyaltyRedemption]  WITH CHECK ADD  CONSTRAINT [FK_LoyaltyRedemption_LoyaltyAccount] FOREIGN KEY([LoyaltyID])
REFERENCES [dbo].[LoyaltyAccount] ([LoyaltyID])
GO
ALTER TABLE [dbo].[LoyaltyRedemption] CHECK CONSTRAINT [FK_LoyaltyRedemption_LoyaltyAccount]
GO
ALTER TABLE [dbo].[LoyaltyRedemption]  WITH CHECK ADD  CONSTRAINT [FK_LoyaltyRedemption_PaymentDiscount] FOREIGN KEY([PaymentDiscountID])
REFERENCES [dbo].[PaymentDiscount] ([PaymentDiscountID])
GO
ALTER TABLE [dbo].[LoyaltyRedemption] CHECK CONSTRAINT [FK_LoyaltyRedemption_PaymentDiscount]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentMethod] FOREIGN KEY([MethodID])
REFERENCES [dbo].[PaymentMethod] ([MethodID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentMethod]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_RentalAgreement] FOREIGN KEY([RentalID])
REFERENCES [dbo].[RentalAgreement] ([RentalID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_RentalAgreement]
GO
ALTER TABLE [dbo].[PaymentDiscount]  WITH CHECK ADD  CONSTRAINT [FK_PaymentDiscount_Discount] FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discount] ([DiscountID])
GO
ALTER TABLE [dbo].[PaymentDiscount] CHECK CONSTRAINT [FK_PaymentDiscount_Discount]
GO
ALTER TABLE [dbo].[PaymentDiscount]  WITH CHECK ADD  CONSTRAINT [FK_PaymentDiscount_Payment] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payment] ([PaymentID])
GO
ALTER TABLE [dbo].[PaymentDiscount] CHECK CONSTRAINT [FK_PaymentDiscount_Payment]
GO
ALTER TABLE [dbo].[PaymentFee]  WITH CHECK ADD  CONSTRAINT [FK_PaymentFee_Fee] FOREIGN KEY([FeeID])
REFERENCES [dbo].[Fee] ([FeeID])
GO
ALTER TABLE [dbo].[PaymentFee] CHECK CONSTRAINT [FK_PaymentFee_Fee]
GO
ALTER TABLE [dbo].[PaymentFee]  WITH CHECK ADD  CONSTRAINT [FK_PaymentFee_Payment] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payment] ([PaymentID])
GO
ALTER TABLE [dbo].[PaymentFee] CHECK CONSTRAINT [FK_PaymentFee_Payment]
GO
ALTER TABLE [dbo].[PromoCode]  WITH CHECK ADD  CONSTRAINT [FK_PromoCode_Discount] FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discount] ([DiscountID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromoCode] CHECK CONSTRAINT [FK_PromoCode_Discount]
GO
ALTER TABLE [dbo].[RentalAgreement]  WITH CHECK ADD  CONSTRAINT [FK_RentalAgreement_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[PrimaryCustomer] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentalAgreement] CHECK CONSTRAINT [FK_RentalAgreement_Customer]
GO
ALTER TABLE [dbo].[RentalAgreement]  WITH CHECK ADD  CONSTRAINT [FK_RentalAgreement_DropoffLocation] FOREIGN KEY([Dropoff_Location_ID])
REFERENCES [dbo].[Location] ([LocationID])
GO
ALTER TABLE [dbo].[RentalAgreement] CHECK CONSTRAINT [FK_RentalAgreement_DropoffLocation]
GO
ALTER TABLE [dbo].[RentalAgreement]  WITH CHECK ADD  CONSTRAINT [FK_RentalAgreement_PickupLocation] FOREIGN KEY([Pickup_Location_ID])
REFERENCES [dbo].[Location] ([LocationID])
GO
ALTER TABLE [dbo].[RentalAgreement] CHECK CONSTRAINT [FK_RentalAgreement_PickupLocation]
GO
ALTER TABLE [dbo].[RentalAgreement]  WITH CHECK ADD  CONSTRAINT [FK_RentalAgreement_RentalStatus] FOREIGN KEY([RentalStatusID])
REFERENCES [dbo].[RentalStatus] ([RentalStatusID])
GO
ALTER TABLE [dbo].[RentalAgreement] CHECK CONSTRAINT [FK_RentalAgreement_RentalStatus]
GO
ALTER TABLE [dbo].[RentalAgreement]  WITH CHECK ADD  CONSTRAINT [FK_RentalAgreement_Vehicle] FOREIGN KEY([Vehicle_ID])
REFERENCES [dbo].[Vehicle] ([VehicleID])
GO
ALTER TABLE [dbo].[RentalAgreement] CHECK CONSTRAINT [FK_RentalAgreement_Vehicle]
GO
ALTER TABLE [dbo].[RentalDrivers]  WITH CHECK ADD  CONSTRAINT [FK_RentalDrivers_DriversLicense] FOREIGN KEY([LicenseID])
REFERENCES [dbo].[DriversLicense] ([LicenseID])
GO
ALTER TABLE [dbo].[RentalDrivers] CHECK CONSTRAINT [FK_RentalDrivers_DriversLicense]
GO
ALTER TABLE [dbo].[RentalDrivers]  WITH CHECK ADD  CONSTRAINT [FK_RentalDrivers_RentalAgreement] FOREIGN KEY([RentalID])
REFERENCES [dbo].[RentalAgreement] ([RentalID])
GO
ALTER TABLE [dbo].[RentalDrivers] CHECK CONSTRAINT [FK_RentalDrivers_RentalAgreement]
GO
ALTER TABLE [dbo].[RentalStaff]  WITH CHECK ADD  CONSTRAINT [FK_RentalStaff_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[RentalStaff] CHECK CONSTRAINT [FK_RentalStaff_Employee]
GO
ALTER TABLE [dbo].[RentalStaff]  WITH CHECK ADD  CONSTRAINT [FK_RentalStaff_Rental] FOREIGN KEY([RentalID])
REFERENCES [dbo].[RentalAgreement] ([RentalID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentalStaff] CHECK CONSTRAINT [FK_RentalStaff_Rental]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_Vehicle_VehicleType] FOREIGN KEY([Vehicle_TypeID])
REFERENCES [dbo].[VehicleType] ([Vehicle_TypeID])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_Vehicle_VehicleType]
GO
ALTER TABLE [dbo].[VehicleSchedule]  WITH CHECK ADD  CONSTRAINT [FK_VehicleSchedule_RentalAgreement] FOREIGN KEY([RentalID])
REFERENCES [dbo].[RentalAgreement] ([RentalID])
GO
ALTER TABLE [dbo].[VehicleSchedule] CHECK CONSTRAINT [FK_VehicleSchedule_RentalAgreement]
GO
ALTER TABLE [dbo].[VehicleSchedule]  WITH CHECK ADD  CONSTRAINT [FK_VehicleSchedule_Vehicle] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicle] ([VehicleID])
GO
ALTER TABLE [dbo].[VehicleSchedule] CHECK CONSTRAINT [FK_VehicleSchedule_Vehicle]
GO
ALTER TABLE [dbo].[RentalAgreement]  WITH CHECK ADD  CONSTRAINT [CK_RentalAgreement_Date] CHECK  (([End_DATE] IS NULL OR [End_DATE]>=[Start_DATE]))
GO
ALTER TABLE [dbo].[RentalAgreement] CHECK CONSTRAINT [CK_RentalAgreement_Date]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddCustomerEmail]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddCustomerEmail]
    @CustomerID     INT,
    @Email          NVARCHAR(254),
    @Type           NVARCHAR(20)  = NULL,   -- 'Personal','School','Work'
    @IsPrimary      BIT           = 0,      -- 1 = make primary
    @Notes          NVARCHAR(100) = NULL,
    @StartDate      DATETIME      = NULL    -- defaults to GETDATE()
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EmailAddressID INT;

    BEGIN TRY
        BEGIN TRAN;

        -- 0) Guard
        IF NOT EXISTS (SELECT 1 FROM dbo.PrimaryCustomer WHERE CustomerID = @CustomerID)
        BEGIN
            RAISERROR('CustomerID %d does not exist.', 16, 1, @CustomerID);
            ROLLBACK TRAN;
            RETURN;
        END

        -- 1) Find or create email
        SELECT @EmailAddressID = EmailAddressID
        FROM dbo.EmailAddress
        WHERE Email = @Email;

        IF @EmailAddressID IS NULL
        BEGIN
            INSERT INTO dbo.EmailAddress (Email, Type)
            VALUES (@Email, @Type);
            SET @EmailAddressID = SCOPE_IDENTITY();
        END
        ELSE
        BEGIN
            -- refresh type if provided
            UPDATE dbo.EmailAddress
            SET Type = COALESCE(@Type, Type)
            WHERE EmailAddressID = @EmailAddressID;
        END

        -- 2) Link (insert or update existing link)
        IF NOT EXISTS (
            SELECT 1 FROM dbo.CustomerEmail
            WHERE CustomerID = @CustomerID AND EmailAddressID = @EmailAddressID
        )
        BEGIN
            INSERT INTO dbo.CustomerEmail
                (CustomerID, EmailAddressID, IsPrimary, Notes, Start_Date)
            VALUES
                (@CustomerID, @EmailAddressID, 0, @Notes, ISNULL(@StartDate, GETDATE()));
        END
        ELSE
        BEGIN
            UPDATE dbo.CustomerEmail
            SET Notes      = COALESCE(@Notes, Notes),
                Start_Date = COALESCE(@StartDate, Start_Date)
            WHERE CustomerID = @CustomerID AND EmailAddressID = @EmailAddressID;
        END

        -- 3) Make primary (with history stamp on old primary)
        IF @IsPrimary = 1
        BEGIN
            UPDATE dbo.CustomerEmail
            SET IsPrimary = 0,
                End_Date  = ISNULL(End_Date, GETDATE())
            WHERE CustomerID = @CustomerID
              AND IsPrimary = 1;

            UPDATE dbo.CustomerEmail
            SET IsPrimary = 1,
                End_Date  = NULL,
                Start_Date = ISNULL(@StartDate, GETDATE())
            WHERE CustomerID = @CustomerID
              AND EmailAddressID = @EmailAddressID;
        END

        COMMIT;

        -- 4) Return the row you just linked
        SELECT 
            c.CustomerID,
            c.First_Name,
            c.Last_Name,
            ea.EmailAddressID,
            ea.Email,
            ea.Type        AS EmailType,
            ce.IsPrimary,
            ce.Notes,
            ce.Start_Date,
            ce.End_Date
        FROM dbo.CustomerEmail ce
        JOIN dbo.PrimaryCustomer c ON c.CustomerID = ce.CustomerID
        JOIN dbo.EmailAddress   ea ON ea.EmailAddressID = ce.EmailAddressID
        WHERE ce.CustomerID = @CustomerID AND ce.EmailAddressID = @EmailAddressID;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddCustomerPhone]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddCustomerPhone]
    @CustomerID      INT,
    @PhoneNumber     NVARCHAR(15),
    @PhoneType       NVARCHAR(20) = NULL,   -- 'Mobile','Home','Work', etc.
    @IsPrimary       BIT = 0,               -- 1 = make this the primary
    @Notes           NVARCHAR(100) = NULL,
    @StartDate       DATETIME = NULL        -- if NULL, we stamp GETDATE()
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Phone_NumberID INT;

    BEGIN TRY
        BEGIN TRAN;

        /* 0) Guard: customer must exist */
        IF NOT EXISTS (SELECT 1 FROM dbo.PrimaryCustomer WHERE CustomerID = @CustomerID)
        BEGIN
            RAISERROR('CustomerID %d does not exist.', 16, 1, @CustomerID);
            ROLLBACK TRAN;
            RETURN;
        END

        /* 1) Find or create phone number row */
        SELECT @Phone_NumberID = pn.Phone_NumberID
        FROM dbo.PhoneNumber pn
        WHERE pn.PhoneNumber = @PhoneNumber;

        IF @Phone_NumberID IS NULL
        BEGIN
            INSERT INTO dbo.PhoneNumber (Type, PhoneNumber)
            VALUES (@PhoneType, @PhoneNumber);

            SET @Phone_NumberID = SCOPE_IDENTITY();
        END
        ELSE
        BEGIN
            -- optional: refresh type if provided (don’t overwrite with NULL)
            UPDATE dbo.PhoneNumber
            SET Type = COALESCE(@PhoneType, Type)
            WHERE Phone_NumberID = @Phone_NumberID;
        END

        /* 2) Create link (or update it if it already exists) */
        IF NOT EXISTS (
            SELECT 1
            FROM dbo.CustomerPhone
            WHERE CustomerID = @CustomerID
              AND Phone_NumberID = @Phone_NumberID
        )
        BEGIN
            INSERT INTO dbo.CustomerPhone (CustomerID, Phone_NumberID, IsPrimary, Notes, Start_Date)
            VALUES (
                @CustomerID,
                @Phone_NumberID,
                0,                                  -- will flip to primary below if requested
                @Notes,
                ISNULL(@StartDate, GETDATE())
            );
        END
        ELSE
        BEGIN
            UPDATE dbo.CustomerPhone
            SET Notes      = COALESCE(@Notes, Notes),
                Start_Date = COALESCE(@StartDate, Start_Date)
            WHERE CustomerID = @CustomerID
              AND Phone_NumberID = @Phone_NumberID;
        END

        /* 3) If requested, make it the primary (with history stamps) */
        IF @IsPrimary = 1
        BEGIN
            -- 3a) Demote existing primary and stamp End_Date once
            UPDATE dbo.CustomerPhone
            SET IsPrimary = 0,
                End_Date  = ISNULL(End_Date, GETDATE())
            WHERE CustomerID = @CustomerID
              AND IsPrimary = 1;

            -- 3b) Promote this number, clear End_Date, (re)stamp Start_Date
            UPDATE dbo.CustomerPhone
            SET IsPrimary = 1,
                End_Date  = NULL,
                Start_Date = ISNULL(@StartDate, GETDATE())
            WHERE CustomerID = @CustomerID
              AND Phone_NumberID = @Phone_NumberID;
        END

        COMMIT;

        /* 4) Return the linked/primary row for convenience */
        SELECT 
            c.CustomerID,
            c.First_Name,
            c.Last_Name,
            pn.Phone_NumberID,
            pn.PhoneNumber,
            pn.Type       AS PhoneType,
            cp.IsPrimary,
            cp.Notes,
            cp.Start_Date,
            cp.End_Date
        FROM dbo.CustomerPhone cp
        JOIN dbo.PrimaryCustomer c ON c.CustomerID = cp.CustomerID
        JOIN dbo.PhoneNumber pn    ON pn.Phone_NumberID = cp.Phone_NumberID
        WHERE cp.CustomerID     = @CustomerID
          AND cp.Phone_NumberID = @Phone_NumberID;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddPolicyAndLink]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddPolicyAndLink]
    @CustomerID   INT,
    @Provider     NVARCHAR(50),
    @PolicyNumber NVARCHAR(50),
    @EffectiveOn  DATE,
    @ExpirationOn DATE = NULL,
    @PolicyStatus VARCHAR(20) = 'Active',
    @MakeActive   BIT = 1,                 -- if 1, switch this customer to this policy
    @Notes        NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InsuranceID INT;

    BEGIN TRY
        BEGIN TRAN;

        -- Guard
        IF NOT EXISTS (SELECT 1 FROM dbo.PrimaryCustomer WHERE CustomerID = @CustomerID)
        BEGIN
            RAISERROR('CustomerID %d does not exist.', 16, 1, @CustomerID);
            ROLLBACK TRAN; RETURN;
        END

        -- Upsert policy (one per provider+number)
        SELECT @InsuranceID = InsuranceID
        FROM dbo.Insurance
        WHERE Provider = @Provider AND PolicyNumber = @PolicyNumber;

        IF @InsuranceID IS NULL
        BEGIN
            INSERT INTO dbo.Insurance (Provider, PolicyNumber, Status, EffectiveOn, ExpirationOn)
            VALUES (@Provider, @PolicyNumber, @PolicyStatus, @EffectiveOn, @ExpirationOn);
            SET @InsuranceID = SCOPE_IDENTITY();
        END
        ELSE
        BEGIN
            -- Optional lightweight refresh (don’t overwrite with NULLs)
            UPDATE dbo.Insurance
            SET Status       = COALESCE(@PolicyStatus, Status),
                EffectiveOn  = COALESCE(@EffectiveOn,  EffectiveOn),
                ExpirationOn = COALESCE(@ExpirationOn, ExpirationOn)
            WHERE InsuranceID = @InsuranceID;
        END

        -- Ensure link exists
        IF NOT EXISTS (
            SELECT 1 FROM dbo.CustomerInsurance
            WHERE CustomerID = @CustomerID AND InsuranceID = @InsuranceID
        )
        BEGIN
            INSERT INTO dbo.CustomerInsurance (CustomerID, InsuranceID, IsActive, VerifiedOn, Notes)
            VALUES (@CustomerID, @InsuranceID, 0, GETDATE(), @Notes);
        END
        ELSE
        BEGIN
            UPDATE dbo.CustomerInsurance
            SET Notes = COALESCE(@Notes, Notes)
            WHERE CustomerID = @CustomerID AND InsuranceID = @InsuranceID;
        END

        -- If making active: turn off any other active policy for THIS customer, then activate this one
        IF @MakeActive = 1
        BEGIN
            UPDATE dbo.CustomerInsurance
            SET IsActive = 0
            WHERE CustomerID = @CustomerID
              AND IsActive   = 1
              AND InsuranceID <> @InsuranceID;

            UPDATE dbo.CustomerInsurance
            SET IsActive = 1
            WHERE CustomerID = @CustomerID AND InsuranceID = @InsuranceID;
        END

        COMMIT;

        -- Return who’s on this policy (handy when sharing)
        SELECT 
            c.CustomerID, c.First_Name, c.Last_Name,
            i.InsuranceID, i.Provider, i.PolicyNumber, i.Status, i.EffectiveOn, i.ExpirationOn,
            ci.IsActive, ci.VerifiedOn, ci.Notes
        FROM dbo.CustomerInsurance ci
        JOIN dbo.PrimaryCustomer c ON c.CustomerID = ci.CustomerID
        JOIN dbo.Insurance i       ON i.InsuranceID = ci.InsuranceID
        WHERE i.InsuranceID = @InsuranceID
        ORDER BY ci.IsActive DESC, c.CustomerID;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveCustomerEmail]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RemoveCustomerEmail]
    @CustomerID     INT,
    @Email          NVARCHAR(254),          -- email to remove/unlink
    @SoftDelete     BIT           = 1,      -- 1 = set End_Date; 0 = hard delete link
    @AutoPromote    BIT           = 1,      -- if removed link was primary, promote another
    @PromoteEmail   NVARCHAR(254) = NULL,   -- optional: which email to promote
    @StartDate      DATETIME      = NULL    -- stamp for new primary (defaults to GETDATE)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EmailAddressID INT,
            @WasPrimary     BIT,
            @PromoteEmailID INT,
            @CandidateID    INT;

    BEGIN TRY
        BEGIN TRAN;

        /* 0) Guards */
        IF NOT EXISTS (SELECT 1 FROM dbo.PrimaryCustomer WHERE CustomerID = @CustomerID)
        BEGIN
            RAISERROR('CustomerID %d does not exist.', 16, 1, @CustomerID);
            ROLLBACK TRAN; RETURN;
        END

        SELECT @EmailAddressID = EmailAddressID
        FROM dbo.EmailAddress
        WHERE Email = @Email;

        IF @EmailAddressID IS NULL
        BEGIN
            RAISERROR('Email "%s" does not exist in EmailAddress.', 16, 1, @Email);
            ROLLBACK TRAN; RETURN;
        END

        IF NOT EXISTS (
            SELECT 1 FROM dbo.CustomerEmail
            WHERE CustomerID = @CustomerID AND EmailAddressID = @EmailAddressID
        )
        BEGIN
            RAISERROR('No link found for CustomerID %d and Email "%s".', 16, 1, @CustomerID, @Email);
            ROLLBACK TRAN; RETURN;
        END

        SELECT @WasPrimary = IsPrimary
        FROM dbo.CustomerEmail
        WHERE CustomerID = @CustomerID AND EmailAddressID = @EmailAddressID;

        /* 1) Remove the link (soft or hard) */
        IF @SoftDelete = 1
        BEGIN
            UPDATE dbo.CustomerEmail
            SET IsPrimary = 0,
                End_Date  = ISNULL(End_Date, GETDATE())
            WHERE CustomerID = @CustomerID AND EmailAddressID = @EmailAddressID;
        END
        ELSE
        BEGIN
            DELETE FROM dbo.CustomerEmail
            WHERE CustomerID = @CustomerID AND EmailAddressID = @EmailAddressID;
        END

        /* 2) If we removed the primary and AutoPromote is ON, pick a replacement */
        IF @WasPrimary = 1 AND @AutoPromote = 1
        BEGIN
            -- If a specific email was provided, use it (create link if needed)
            IF @PromoteEmail IS NOT NULL
            BEGIN
                SELECT @PromoteEmailID = EmailAddressID
                FROM dbo.EmailAddress
                WHERE Email = @PromoteEmail;

                IF @PromoteEmailID IS NULL
                BEGIN
                    -- create the address row if it doesn't exist
                    INSERT INTO dbo.EmailAddress (Email) VALUES (@PromoteEmail);
                    SET @PromoteEmailID = SCOPE_IDENTITY();
                END

                -- ensure link exists
                IF NOT EXISTS (
                    SELECT 1 FROM dbo.CustomerEmail
                    WHERE CustomerID = @CustomerID AND EmailAddressID = @PromoteEmailID
                )
                BEGIN
                    INSERT INTO dbo.CustomerEmail (CustomerID, EmailAddressID, IsPrimary, Start_Date)
                    VALUES (@CustomerID, @PromoteEmailID, 0, ISNULL(@StartDate, GETDATE()));
                END

                SET @CandidateID = @PromoteEmailID;
            END
            ELSE
            BEGIN
                -- otherwise pick the "best" existing link: active first, most recent Start_Date
                SELECT TOP (1) @CandidateID = EmailAddressID
                FROM dbo.CustomerEmail
                WHERE CustomerID = @CustomerID
                  AND EmailAddressID <> @EmailAddressID
                ORDER BY 
                    CASE WHEN End_Date IS NULL THEN 0 ELSE 1 END,  -- active first
                    Start_Date DESC;
            END

            -- promote the candidate if we have one
            IF @CandidateID IS NOT NULL
            BEGIN
                -- demote any remaining primaries (safety)
                UPDATE dbo.CustomerEmail
                SET IsPrimary = 0,
                    End_Date  = ISNULL(End_Date, GETDATE())
                WHERE CustomerID = @CustomerID
                  AND IsPrimary = 1;

                -- promote candidate
                UPDATE dbo.CustomerEmail
                SET IsPrimary  = 1,
                    End_Date   = NULL,
                    Start_Date = ISNULL(@StartDate, COALESCE(Start_Date, GETDATE()))
                WHERE CustomerID = @CustomerID
                  AND EmailAddressID = @CandidateID;
            END
        END

        COMMIT;

        /* 3) Return the customer’s emails (primary first) */
        SELECT 
            c.CustomerID,
            c.First_Name,
            c.Last_Name,
            ea.Email,
            ce.IsPrimary,
            ce.Notes,
            ce.Start_Date,
            ce.End_Date
        FROM dbo.CustomerEmail ce
        JOIN dbo.PrimaryCustomer c ON c.CustomerID = ce.CustomerID
        JOIN dbo.EmailAddress ea   ON ea.EmailAddressID = ce.EmailAddressID
        WHERE ce.CustomerID = @CustomerID
        ORDER BY ce.IsPrimary DESC, ce.End_Date, ce.Start_Date DESC;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SetActivePolicy]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SetActivePolicy]
    @CustomerID   INT,
    @Provider     NVARCHAR(50),
    @PolicyNumber NVARCHAR(50),
    @EffectiveOn  DATE = NULL,       -- only used if policy is created
    @ExpirationOn DATE = NULL,       -- only used if policy is created
    @PolicyStatus VARCHAR(20) = 'Active',   -- used if policy is created/updated
    @Notes        NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InsuranceID INT;

    BEGIN TRY
        BEGIN TRAN;

        -- Guard: customer must exist
        IF NOT EXISTS (SELECT 1 FROM dbo.PrimaryCustomer WHERE CustomerID = @CustomerID)
        BEGIN
            RAISERROR('CustomerID %d does not exist.', 16, 1, @CustomerID);
            ROLLBACK TRAN; RETURN;
        END

        -- Upsert policy
        SELECT @InsuranceID = InsuranceID
        FROM dbo.Insurance
        WHERE Provider = @Provider AND PolicyNumber = @PolicyNumber;

        IF @InsuranceID IS NULL
        BEGIN
            INSERT INTO dbo.Insurance (Provider, PolicyNumber, Status, EffectiveOn, ExpirationOn)
            VALUES (@Provider, @PolicyNumber, COALESCE(@PolicyStatus,'Active'),
                    COALESCE(@EffectiveOn, CAST(GETDATE() AS DATE)), @ExpirationOn);
            SET @InsuranceID = SCOPE_IDENTITY();
        END
        ELSE
        BEGIN
            -- light refresh (don’t overwrite with NULLs)
            UPDATE dbo.Insurance
            SET Status       = COALESCE(@PolicyStatus, Status),
                EffectiveOn  = COALESCE(@EffectiveOn,  EffectiveOn),
                ExpirationOn = COALESCE(@ExpirationOn, ExpirationOn)
            WHERE InsuranceID = @InsuranceID;
        END

        -- Ensure link exists
        IF NOT EXISTS (
            SELECT 1 FROM dbo.CustomerInsurance
            WHERE CustomerID = @CustomerID AND InsuranceID = @InsuranceID
        )
        BEGIN
            INSERT INTO dbo.CustomerInsurance (CustomerID, InsuranceID, IsActive, VerifiedOn, Notes)
            VALUES (@CustomerID, @InsuranceID, 0, GETDATE(), @Notes);
        END
        ELSE
        BEGIN
            UPDATE dbo.CustomerInsurance
            SET Notes = COALESCE(@Notes, Notes)
            WHERE CustomerID = @CustomerID AND InsuranceID = @InsuranceID;
        END

        -- Flip: turn off any other active policy for this customer
        UPDATE dbo.CustomerInsurance
        SET IsActive = 0
        WHERE CustomerID = @CustomerID
          AND IsActive   = 1
          AND InsuranceID <> @InsuranceID;

        -- Activate this one
        UPDATE dbo.CustomerInsurance
        SET IsActive = 1
        WHERE CustomerID = @CustomerID AND InsuranceID = @InsuranceID;

        COMMIT;

        -- Return the customer’s current policy state (primary row first)
        SELECT 
            c.CustomerID, c.First_Name, c.Last_Name,
            i.InsuranceID, i.Provider, i.PolicyNumber, i.Status, i.EffectiveOn, i.ExpirationOn,
            ci.IsActive, ci.VerifiedOn, ci.Notes
        FROM dbo.CustomerInsurance ci
        JOIN dbo.PrimaryCustomer c ON c.CustomerID = ci.CustomerID
        JOIN dbo.Insurance i       ON i.InsuranceID = ci.InsuranceID
        WHERE ci.CustomerID = @CustomerID
        ORDER BY ci.IsActive DESC, i.EffectiveOn DESC;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SetPrimaryEmail]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SetPrimaryEmail]
    @CustomerID INT,
    @Email      NVARCHAR(254),
    @Type       NVARCHAR(20)  = NULL,    -- 'Personal','School','Work', etc.
    @Notes      NVARCHAR(100) = NULL,
    @StartDate  DATETIME      = NULL     -- if NULL, uses GETDATE()
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EmailAddressID INT;

    BEGIN TRY
        BEGIN TRAN;

        /* 0) Guard: customer must exist */
        IF NOT EXISTS (SELECT 1 FROM dbo.PrimaryCustomer WHERE CustomerID = @CustomerID)
        BEGIN
            RAISERROR('CustomerID %d does not exist.', 16, 1, @CustomerID);
            ROLLBACK TRAN;
            RETURN;
        END

        /* 1) Find or create the email row */
        SELECT @EmailAddressID = EmailAddressID
        FROM dbo.EmailAddress
        WHERE Email = @Email;

        IF @EmailAddressID IS NULL
        BEGIN
            INSERT INTO dbo.EmailAddress (Email, Type)
            VALUES (@Email, @Type);
            SET @EmailAddressID = SCOPE_IDENTITY();
        END
        ELSE
        BEGIN
            -- optional: update type if provided
            UPDATE dbo.EmailAddress
            SET Type = COALESCE(@Type, Type)
            WHERE EmailAddressID = @EmailAddressID;
        END

        /* 2) Ensure the link exists (insert or refresh) */
        IF NOT EXISTS (
            SELECT 1 FROM dbo.CustomerEmail
            WHERE CustomerID = @CustomerID AND EmailAddressID = @EmailAddressID
        )
        BEGIN
            INSERT INTO dbo.CustomerEmail
                (CustomerID, EmailAddressID, IsPrimary, Notes, Start_Date)
            VALUES
                (@CustomerID, @EmailAddressID, 0, @Notes, ISNULL(@StartDate, GETDATE()));
        END
        ELSE
        BEGIN
            UPDATE dbo.CustomerEmail
            SET Notes      = COALESCE(@Notes, Notes),
                Start_Date = COALESCE(@StartDate, Start_Date)
            WHERE CustomerID = @CustomerID AND EmailAddressID = @EmailAddressID;
        END

        /* 3) Demote any existing primary for this customer (stamp End_Date once) */
        UPDATE dbo.CustomerEmail
        SET IsPrimary = 0,
            End_Date  = ISNULL(End_Date, GETDATE())
        WHERE CustomerID = @CustomerID
          AND IsPrimary = 1;

        /* 4) Promote this email to primary (clear End_Date, stamp Start_Date) */
        UPDATE dbo.CustomerEmail
        SET IsPrimary  = 1,
            End_Date   = NULL,
            Start_Date = ISNULL(@StartDate, GETDATE())
        WHERE CustomerID = @CustomerID
          AND EmailAddressID = @EmailAddressID;

        COMMIT;

        /* 5) Return the new primary row */
        SELECT 
            c.CustomerID,
            c.First_Name,
            c.Last_Name,
            ea.EmailAddressID,
            ea.Email,
            ea.Type        AS EmailType,
            ce.IsPrimary,
            ce.Notes,
            ce.Start_Date,
            ce.End_Date
        FROM dbo.CustomerEmail ce
        JOIN dbo.PrimaryCustomer c ON c.CustomerID = ce.CustomerID
        JOIN dbo.EmailAddress   ea ON ea.EmailAddressID = ce.EmailAddressID
        WHERE ce.CustomerID = @CustomerID
          AND ce.EmailAddressID = @EmailAddressID;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SetActiveDriversLicense]    Script Date: 11/9/2025 3:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_SetActiveDriversLicense]
    @CustomerID     INT,
    @License_Number NVARCHAR(25),
    @State          NCHAR(2),
    @DOB            DATE,
    @Expiration     DATE,
    @VerifiedOn     DATETIME2(0) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        -- Close any active row for this customer
        UPDATE dbo.DriversLicense
        SET EffectiveEndDate = SYSUTCDATETIME()
        WHERE CustomerID = @CustomerID
          AND EffectiveEndDate IS NULL;

        -- Insert the new active license
        INSERT dbo.DriversLicense
            (License_Number, State, DOB, Expiration, VerifiedOn,
             CustomerID, EffectiveStartDate, EffectiveEndDate)
        VALUES
            (@License_Number, @State, @DOB, @Expiration, @VerifiedOn,
             @CustomerID, SYSUTCDATETIME(), NULL);

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
USE [master]
GO
