USE [master]
GO
/****** Object:  Database [CIS440CarRentalProject]    Script Date: 11/11/2025 7:37:24 PM ******/
CREATE DATABASE [CIS440CarRentalProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CIS440CarRentalProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CIS440CarRentalProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CIS440CarRentalProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CIS440CarRentalProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE SQL_Latin1_General_CP1_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CIS440CarRentalProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CIS440CarRentalProject]
GO
/****** Object:  Table [dbo].[ACHTransfers]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACHTransfers](
	[transferid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transferid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[PartyID] [int] NOT NULL,
	[AddressType] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[StreetAddress] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[City] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[StateOrProvince] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ZipCode] [char](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Country] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[agreements]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agreements](
	[agreementID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[AgreementDate] [date] NULL,
	[ExpirationDate] [date] NULL,
	[employeeid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[agreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banks]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banks](
	[bankid] [int] IDENTITY(1,1) NOT NULL,
	[bankname] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[routingnumber] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[accountnumber] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[bankid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[CardID] [int] IDENTITY(1,1) NOT NULL,
	[CardType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CardToken] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ExpirationYear] [char](4) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ExpirationMonth] [char](2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Checks]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checks](
	[CheckID] [int] NOT NULL,
	[CheckNumber] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountCode] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[DiscountType] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DiscountAmount] [decimal](6, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverInsurance]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverInsurance](
	[InsuranceID] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
	[PolicyProvider] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PolicyNumber] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ExpirationDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InsuranceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriversLicense]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriversLicense](
	[DriversLicenseID] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
	[LicenseState] [char](2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LicenseNumber] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DriversLicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emails]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emails](
	[EmailID] [int] NOT NULL,
	[PartyID] [int] NOT NULL,
	[EmailType] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EmailAddress] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[HireDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Gender] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PayRate] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [int] NOT NULL,
	[MaxVehicles] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parties]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parties](
	[PartyID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PartyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] NOT NULL,
	[personid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentsToOrders]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentsToOrders](
	[PaymentToOrderId] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
	[RentalOrderID] [int] NOT NULL,
	[PaymentAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentToOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[PersonID] [int] NOT NULL,
	[FirstName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MiddleInitial] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Suffix] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phones]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phones](
	[PhoneID] [int] NOT NULL,
	[PartyID] [int] NOT NULL,
	[PhoneType] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CountryCode] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PhoneNumber] [char](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalOrders]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalOrders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[RentalID] [int] NOT NULL,
	[SubTotal] [decimal](10, 2) NULL,
	[DiscountID] [int] NULL,
	[Tax] [decimal](6, 2) NULL,
	[TotalDue] [decimal](10, 2) NULL,
	[OrderStatus] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DateModified] [datetime] NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rentals]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rentals](
	[RentalID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[AgreementID] [int] NOT NULL,
	[DriversLicenseID] [int] NOT NULL,
	[DriverInsuranceID] [int] NOT NULL,
	[Status] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IsOnlineReservation] [bit] NOT NULL,
	[PickupLocation] [int] NOT NULL,
	[DropOffLocation] [int] NULL,
	[EmployeeID] [int] NULL,
	[CreationDate] [datetime] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[ReturnedOnDate] [datetime] NULL,
	[StartMileage] [int] NOT NULL,
	[EndMileage] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleBlocks]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleBlocks](
	[BlockID] [int] NOT NULL,
	[VehicleID] [int] NOT NULL,
	[BlockStartDate] [datetime] NOT NULL,
	[BlockEndDate] [datetime] NULL,
	[BlockReason] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[Username] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PasswordHash] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NULL,
	[LastModifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[CurrentLocation] [int] NOT NULL,
	[Make] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Model] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Year] [char](4) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VIN] [char](23) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Color] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VehicleType] [int] NOT NULL,
	[LicensePlate] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FuelType] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CurrentFuel] [int] NOT NULL,
	[Mileage] [int] NOT NULL,
	[MileageRate] [decimal](5, 2) NULL,
	[DailyRate] [decimal](6, 2) NULL,
	[BaseFee] [decimal](7, 2) NULL,
	[Status] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleTypes]    Script Date: 11/11/2025 7:37:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleTypes](
	[VehicleTypes] [int] NOT NULL,
	[Type] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleTypes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACHTransfers] ([transferid]) VALUES (21)
INSERT [dbo].[ACHTransfers] ([transferid]) VALUES (22)
INSERT [dbo].[ACHTransfers] ([transferid]) VALUES (23)
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([AddressID], [PartyID], [AddressType], [StreetAddress], [City], [StateOrProvince], [ZipCode], [Country]) VALUES (1, 78, N'O', N'7513 Oak Ave', N'Fairview', N'CA', N'17495', N'USA')
INSERT [dbo].[Addresses] ([AddressID], [PartyID], [AddressType], [StreetAddress], [City], [StateOrProvince], [ZipCode], [Country]) VALUES (2, 134, N'O', N'4480 Sunset Blvd', N'Greenville', N'NC', N'45418', N'USA')
INSERT [dbo].[Addresses] ([AddressID], [PartyID], [AddressType], [StreetAddress], [City], [StateOrProvince], [ZipCode], [Country]) VALUES (3, 185, N'B', N'4810 Maple Dr', N'Centerville', N'TX', N'19108', N'USA')
GO
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
INSERT [dbo].[agreements] ([agreementID], [CustomerID], [AgreementDate], [ExpirationDate], [employeeid]) VALUES (1, 89, CAST(N'2025-03-16' AS Date), CAST(N'2027-12-30' AS Date), 33)
INSERT [dbo].[agreements] ([agreementID], [CustomerID], [AgreementDate], [ExpirationDate], [employeeid]) VALUES (2, 60, CAST(N'2025-07-21' AS Date), CAST(N'2026-01-30' AS Date), 47)
INSERT [dbo].[agreements] ([agreementID], [CustomerID], [AgreementDate], [ExpirationDate], [employeeid]) VALUES (3, 97, CAST(N'2025-07-06' AS Date), CAST(N'2028-07-10' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[banks] ON 

INSERT [dbo].[banks] ([bankid], [bankname], [routingnumber], [accountnumber]) VALUES (1, N'Citizens Bank', N'59561661', N'740971')
INSERT [dbo].[banks] ([bankid], [bankname], [routingnumber], [accountnumber]) VALUES (2, N'United Bank', N'445673367', N'468003')
INSERT [dbo].[banks] ([bankid], [bankname], [routingnumber], [accountnumber]) VALUES (3, N'Community Trust Bank', N'179526268', N'193531')
SET IDENTITY_INSERT [dbo].[banks] OFF
GO
SET IDENTITY_INSERT [dbo].[Cards] ON 

INSERT [dbo].[Cards] ([CardID], [CardType], [CardToken], [ExpirationYear], [ExpirationMonth], [ModifiedDate]) VALUES (61, N'Visa', N'2A4A5C8419704E2F', N'2025', N'01', CAST(N'2025-10-07T23:10:19.217' AS DateTime))
INSERT [dbo].[Cards] ([CardID], [CardType], [CardToken], [ExpirationYear], [ExpirationMonth], [ModifiedDate]) VALUES (62, N'Mastercard', N'9CA22DFB1227445E', N'2028', N'03', CAST(N'2025-05-21T23:10:19.217' AS DateTime))
INSERT [dbo].[Cards] ([CardID], [CardType], [CardToken], [ExpirationYear], [ExpirationMonth], [ModifiedDate]) VALUES (63, N'Visa', N'6866C060E3004C79', N'2025', N'06', CAST(N'2025-03-19T23:10:19.217' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cards] OFF
GO
INSERT [dbo].[Checks] ([CheckID], [CheckNumber]) VALUES (1, N'CHK00001')
INSERT [dbo].[Checks] ([CheckID], [CheckNumber]) VALUES (2, N'CHK00002')
INSERT [dbo].[Checks] ([CheckID], [CheckNumber]) VALUES (3, N'CHK00003')
GO
INSERT [dbo].[Customers] ([CustomerID]) VALUES (56)
INSERT [dbo].[Customers] ([CustomerID]) VALUES (57)
INSERT [dbo].[Customers] ([CustomerID]) VALUES (58)
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([DiscountID], [DiscountCode], [StartDate], [EndDate], [DiscountType], [DiscountAmount]) VALUES (1001, N'DISC001', CAST(N'2025-02-15T21:19:45.250' AS DateTime), CAST(N'2025-08-31T21:19:45.250' AS DateTime), N'P', CAST(23.00 AS Decimal(6, 2)))
INSERT [dbo].[Discounts] ([DiscountID], [DiscountCode], [StartDate], [EndDate], [DiscountType], [DiscountAmount]) VALUES (1002, N'DISC002', CAST(N'2025-01-29T21:19:45.253' AS DateTime), CAST(N'2025-11-13T21:19:45.253' AS DateTime), N'F', CAST(96.00 AS Decimal(6, 2)))
INSERT [dbo].[Discounts] ([DiscountID], [DiscountCode], [StartDate], [EndDate], [DiscountType], [DiscountAmount]) VALUES (1003, N'DISC003', CAST(N'2025-04-17T21:19:45.253' AS DateTime), NULL, N'S', CAST(2.00 AS Decimal(6, 2)))
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
INSERT [dbo].[DriverInsurance] ([InsuranceID], [PersonID], [PolicyProvider], [PolicyNumber], [ExpirationDate]) VALUES (1, 56, N'Geico', N'CBF1358861243', CAST(N'2026-12-08' AS Date))
INSERT [dbo].[DriverInsurance] ([InsuranceID], [PersonID], [PolicyProvider], [PolicyNumber], [ExpirationDate]) VALUES (2, 13, N'Travelers', N'0660342213592', CAST(N'2027-03-31' AS Date))
INSERT [dbo].[DriverInsurance] ([InsuranceID], [PersonID], [PolicyProvider], [PolicyNumber], [ExpirationDate]) VALUES (3, 27, N'State Farm', N'E781978124863', CAST(N'2026-06-26' AS Date))
GO
INSERT [dbo].[DriversLicense] ([DriversLicenseID], [PersonID], [LicenseState], [LicenseNumber], [DateOfBirth], [ExpirationDate]) VALUES (1, 59, N'WA', N'A81ED398F5', CAST(N'1978-08-07' AS Date), CAST(N'2032-06-15' AS Date))
INSERT [dbo].[DriversLicense] ([DriversLicenseID], [PersonID], [LicenseState], [LicenseNumber], [DateOfBirth], [ExpirationDate]) VALUES (2, 65, N'TX', N'CD927310FA', CAST(N'1957-05-27' AS Date), CAST(N'2036-10-30' AS Date))
INSERT [dbo].[DriversLicense] ([DriversLicenseID], [PersonID], [LicenseState], [LicenseNumber], [DateOfBirth], [ExpirationDate]) VALUES (3, 90, N'NC', N'BAE3DB179C', CAST(N'1997-03-22' AS Date), CAST(N'2030-06-11' AS Date))
GO
INSERT [dbo].[Emails] ([EmailID], [PartyID], [EmailType], [EmailAddress]) VALUES (1, 1, N'P', N'user001@sample.co')
INSERT [dbo].[Emails] ([EmailID], [PartyID], [EmailType], [EmailAddress]) VALUES (2, 2, N'P', N'user002@sample.co')
INSERT [dbo].[Emails] ([EmailID], [PartyID], [EmailType], [EmailAddress]) VALUES (3, 3, N'P', N'user003@test.org')
GO
INSERT [dbo].[Employees] ([EmployeeID], [HireDate], [IsActive], [Gender], [PayRate]) VALUES (6, CAST(N'2016-12-02' AS Date), 1, N'U', CAST(18.81 AS Decimal(5, 2)))
INSERT [dbo].[Employees] ([EmployeeID], [HireDate], [IsActive], [Gender], [PayRate]) VALUES (7, CAST(N'2022-12-18' AS Date), 1, N'U', CAST(34.78 AS Decimal(5, 2)))
INSERT [dbo].[Employees] ([EmployeeID], [HireDate], [IsActive], [Gender], [PayRate]) VALUES (8, CAST(N'2018-02-01' AS Date), 1, N'U', CAST(76.63 AS Decimal(5, 2)))
GO
INSERT [dbo].[Locations] ([LocationID], [MaxVehicles]) VALUES (1, 100)
INSERT [dbo].[Locations] ([LocationID], [MaxVehicles]) VALUES (2, 50)
INSERT [dbo].[Locations] ([LocationID], [MaxVehicles]) VALUES (3, 200)
GO
SET IDENTITY_INSERT [dbo].[Parties] ON 

INSERT [dbo].[Parties] ([PartyID]) VALUES (1)
INSERT [dbo].[Parties] ([PartyID]) VALUES (2)
INSERT [dbo].[Parties] ([PartyID]) VALUES (3)
GO
SET IDENTITY_INSERT [dbo].[Parties] OFF
GO
INSERT [dbo].[Payments] ([PaymentID], [personid]) VALUES (1, 6)
INSERT [dbo].[Payments] ([PaymentID], [personid]) VALUES (2, 7)
INSERT [dbo].[Payments] ([PaymentID], [personid]) VALUES (3, 8)
GO
INSERT [dbo].[PaymentsToOrders] ([PaymentToOrderId], [PaymentID], [RentalOrderID], [PaymentAmount]) VALUES (1, 53, 7, CAST(936.00 AS Decimal(10, 2)))
INSERT [dbo].[PaymentsToOrders] ([PaymentToOrderId], [PaymentID], [RentalOrderID], [PaymentAmount]) VALUES (2, 85, 8, CAST(1568.00 AS Decimal(10, 2)))
INSERT [dbo].[PaymentsToOrders] ([PaymentToOrderId], [PaymentID], [RentalOrderID], [PaymentAmount]) VALUES (3, 64, 9, CAST(6825.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Persons] ([PersonID], [FirstName], [MiddleInitial], [LastName], [Suffix]) VALUES (6, N'James', NULL, N'Smith', N'Jr.')
INSERT [dbo].[Persons] ([PersonID], [FirstName], [MiddleInitial], [LastName], [Suffix]) VALUES (7, N'Mary', N'B', N'Johnson', N'Sr.')
INSERT [dbo].[Persons] ([PersonID], [FirstName], [MiddleInitial], [LastName], [Suffix]) VALUES (8, N'Robert', N'C', N'Brown', N'III')
GO
INSERT [dbo].[Phones] ([PhoneID], [PartyID], [PhoneType], [CountryCode], [PhoneNumber]) VALUES (5, 28, N'B', N'+1', N'0365112072')
INSERT [dbo].[Phones] ([PhoneID], [PartyID], [PhoneType], [CountryCode], [PhoneNumber]) VALUES (10, 196, N'B', N'+1', N'1786744990')
INSERT [dbo].[Phones] ([PhoneID], [PartyID], [PhoneType], [CountryCode], [PhoneNumber]) VALUES (13, 82, N'B', NULL, N'2004331799')
GO
SET IDENTITY_INSERT [dbo].[RentalOrders] ON 

INSERT [dbo].[RentalOrders] ([OrderID], [CustomerID], [RentalID], [SubTotal], [DiscountID], [Tax], [TotalDue], [OrderStatus], [DateModified], [DueDate], [PaymentDate]) VALUES (7, 58, 210, CAST(936.00 AS Decimal(10, 2)), NULL, CAST(74.88 AS Decimal(6, 2)), CAST(861.12 AS Decimal(10, 2)), N'O', CAST(N'2025-11-11T10:51:43.260' AS DateTime), CAST(N'2025-11-26T00:00:00.000' AS DateTime), CAST(N'2025-11-27T00:00:00.000' AS DateTime))
INSERT [dbo].[RentalOrders] ([OrderID], [CustomerID], [RentalID], [SubTotal], [DiscountID], [Tax], [TotalDue], [OrderStatus], [DateModified], [DueDate], [PaymentDate]) VALUES (8, 90, 81, CAST(1568.00 AS Decimal(10, 2)), NULL, CAST(125.44 AS Decimal(6, 2)), CAST(1442.56 AS Decimal(10, 2)), N'O', CAST(N'2025-11-11T10:51:43.260' AS DateTime), CAST(N'2025-12-11T00:00:00.000' AS DateTime), CAST(N'2025-12-18T00:00:00.000' AS DateTime))
INSERT [dbo].[RentalOrders] ([OrderID], [CustomerID], [RentalID], [SubTotal], [DiscountID], [Tax], [TotalDue], [OrderStatus], [DateModified], [DueDate], [PaymentDate]) VALUES (9, 69, 88, CAST(6825.00 AS Decimal(10, 2)), NULL, CAST(546.00 AS Decimal(6, 2)), CAST(6279.00 AS Decimal(10, 2)), N'P', CAST(N'2025-11-11T10:51:43.260' AS DateTime), CAST(N'2025-12-18T00:00:00.000' AS DateTime), CAST(N'2025-11-15T10:51:43.260' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RentalOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Rentals] ON 

INSERT [dbo].[Rentals] ([RentalID], [VehicleID], [AgreementID], [DriversLicenseID], [DriverInsuranceID], [Status], [IsOnlineReservation], [PickupLocation], [DropOffLocation], [EmployeeID], [CreationDate], [StartDate], [EndDate], [ReturnedOnDate], [StartMileage], [EndMileage]) VALUES (12, 1002, 4, 5, 59, N'0', 1, 5, 4, 40, CAST(N'2025-11-10T23:29:42.773' AS DateTime), CAST(N'2025-10-11T00:00:00.000' AS DateTime), CAST(N'2025-12-23T00:00:00.000' AS DateTime), NULL, 62190, 63383)
INSERT [dbo].[Rentals] ([RentalID], [VehicleID], [AgreementID], [DriversLicenseID], [DriverInsuranceID], [Status], [IsOnlineReservation], [PickupLocation], [DropOffLocation], [EmployeeID], [CreationDate], [StartDate], [EndDate], [ReturnedOnDate], [StartMileage], [EndMileage]) VALUES (13, 1139, 24, 36, 57, N'0', 0, 4, 5, 54, CAST(N'2025-11-10T23:29:42.773' AS DateTime), CAST(N'2025-12-15T00:00:00.000' AS DateTime), CAST(N'2025-11-07T00:00:00.000' AS DateTime), CAST(N'2025-11-20T00:00:00.000' AS DateTime), 82047, 83784)
INSERT [dbo].[Rentals] ([RentalID], [VehicleID], [AgreementID], [DriversLicenseID], [DriverInsuranceID], [Status], [IsOnlineReservation], [PickupLocation], [DropOffLocation], [EmployeeID], [CreationDate], [StartDate], [EndDate], [ReturnedOnDate], [StartMileage], [EndMileage]) VALUES (14, 1169, 25, 34, 100, N'0', 0, 4, 1, 50, CAST(N'2025-11-10T23:29:42.773' AS DateTime), CAST(N'2025-10-15T00:00:00.000' AS DateTime), CAST(N'2025-12-10T00:00:00.000' AS DateTime), NULL, 118260, 119465)
GO
SET IDENTITY_INSERT [dbo].[Rentals] OFF
GO
INSERT [dbo].[ScheduleBlocks] ([BlockID], [VehicleID], [BlockStartDate], [BlockEndDate], [BlockReason]) VALUES (2, 1001, CAST(N'2025-10-17T21:30:34.803' AS DateTime), CAST(N'2025-10-20T21:30:34.803' AS DateTime), N'Reserved')
INSERT [dbo].[ScheduleBlocks] ([BlockID], [VehicleID], [BlockStartDate], [BlockEndDate], [BlockReason]) VALUES (3, 1002, CAST(N'2025-10-02T21:30:34.803' AS DateTime), NULL, N'OutOfService')
INSERT [dbo].[ScheduleBlocks] ([BlockID], [VehicleID], [BlockStartDate], [BlockEndDate], [BlockReason]) VALUES (4, 1003, CAST(N'2026-02-07T21:30:34.803' AS DateTime), CAST(N'2026-02-10T21:30:34.803' AS DateTime), N'Recall')
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleID], [CurrentLocation], [Make], [Model], [Year], [VIN], [Color], [VehicleType], [LicensePlate], [FuelType], [CurrentFuel], [Mileage], [MileageRate], [DailyRate], [BaseFee], [Status], [ModifiedDate]) VALUES (1001, 3, N'Toyota', N'Camry', N'2015', N'D472A9C6870F40BBA      ', N'White', 1, N'LP4812', N'G', 21, 13939, CAST(0.11 AS Decimal(5, 2)), CAST(85.00 AS Decimal(6, 2)), CAST(6.00 AS Decimal(7, 2)), N'0', CAST(N'2025-03-30T21:07:40.683' AS DateTime))
INSERT [dbo].[Vehicles] ([VehicleID], [CurrentLocation], [Make], [Model], [Year], [VIN], [Color], [VehicleType], [LicensePlate], [FuelType], [CurrentFuel], [Mileage], [MileageRate], [DailyRate], [BaseFee], [Status], [ModifiedDate]) VALUES (1002, 5, N'Honda', N'Civic', N'2016', N'9EC9CD579E1F42398      ', N'Black', 2, N'LP6244', N'D', 33, 62153, CAST(0.38 AS Decimal(5, 2)), CAST(84.00 AS Decimal(6, 2)), CAST(9.00 AS Decimal(7, 2)), N'1', CAST(N'2025-10-08T21:07:40.683' AS DateTime))
INSERT [dbo].[Vehicles] ([VehicleID], [CurrentLocation], [Make], [Model], [Year], [VIN], [Color], [VehicleType], [LicensePlate], [FuelType], [CurrentFuel], [Mileage], [MileageRate], [DailyRate], [BaseFee], [Status], [ModifiedDate]) VALUES (1003, 3, N'Ford', N'Escape', N'2017', N'FC9B1DFC456A4ABA8      ', N'Blue', 3, N'LP8572', N'E', 33, 16271, CAST(0.26 AS Decimal(5, 2)), CAST(171.00 AS Decimal(6, 2)), CAST(9.00 AS Decimal(7, 2)), N'R', CAST(N'2025-05-02T21:07:40.683' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
INSERT [dbo].[VehicleTypes] ([VehicleTypes], [Type]) VALUES (1, N'Sedan')
INSERT [dbo].[VehicleTypes] ([VehicleTypes], [Type]) VALUES (2, N'SUV')
INSERT [dbo].[VehicleTypes] ([VehicleTypes], [Type]) VALUES (3, N'Truck')
GO
ALTER TABLE [dbo].[Rentals] ADD  DEFAULT ('0') FOR [Status]
GO
ALTER TABLE [dbo].[Rentals] ADD  DEFAULT ((0)) FOR [IsOnlineReservation]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ('0') FOR [Status]
GO
ALTER TABLE [dbo].[ACHTransfers]  WITH CHECK ADD  CONSTRAINT [achtransfers_transferid_banks_bankid] FOREIGN KEY([transferid])
REFERENCES [dbo].[banks] ([bankid])
GO
ALTER TABLE [dbo].[ACHTransfers] CHECK CONSTRAINT [achtransfers_transferid_banks_bankid]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [Addresses_PartyID_Parties_PartyID] FOREIGN KEY([PartyID])
REFERENCES [dbo].[Parties] ([PartyID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [Addresses_PartyID_Parties_PartyID]
GO
ALTER TABLE [dbo].[agreements]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[agreements]  WITH CHECK ADD FOREIGN KEY([employeeid])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[banks]  WITH CHECK ADD  CONSTRAINT [banks_bankid_payments_paymentid] FOREIGN KEY([bankid])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[banks] CHECK CONSTRAINT [banks_bankid_payments_paymentid]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [Cards_CardID_Payments_PaymentID] FOREIGN KEY([CardID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [Cards_CardID_Payments_PaymentID]
GO
ALTER TABLE [dbo].[Checks]  WITH CHECK ADD  CONSTRAINT [checks_checkid_banks_bankid] FOREIGN KEY([CheckID])
REFERENCES [dbo].[banks] ([bankid])
GO
ALTER TABLE [dbo].[Checks] CHECK CONSTRAINT [checks_checkid_banks_bankid]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [Customers_CustomerID_Persons_PersonID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [Customers_CustomerID_Persons_PersonID]
GO
ALTER TABLE [dbo].[DriverInsurance]  WITH CHECK ADD  CONSTRAINT [DriverInsurance_PersonID_Persons_PersonID] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[DriverInsurance] CHECK CONSTRAINT [DriverInsurance_PersonID_Persons_PersonID]
GO
ALTER TABLE [dbo].[DriversLicense]  WITH CHECK ADD  CONSTRAINT [DriversLicense_PersonID_Persons_PersonID] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[DriversLicense] CHECK CONSTRAINT [DriversLicense_PersonID_Persons_PersonID]
GO
ALTER TABLE [dbo].[Emails]  WITH CHECK ADD  CONSTRAINT [Emails_PartyID_Parties_PartyID] FOREIGN KEY([PartyID])
REFERENCES [dbo].[Parties] ([PartyID])
GO
ALTER TABLE [dbo].[Emails] CHECK CONSTRAINT [Emails_PartyID_Parties_PartyID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [Employees_EmployeeID_Persons_PersonID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [Employees_EmployeeID_Persons_PersonID]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [Locations_LocationID_Parties_PartyID] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Parties] ([PartyID])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [Locations_LocationID_Parties_PartyID]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [payments_personid_persons_personid] FOREIGN KEY([personid])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [payments_personid_persons_personid]
GO
ALTER TABLE [dbo].[PaymentsToOrders]  WITH CHECK ADD  CONSTRAINT [PaymentsToOrders_PaymentID_Payments_PaymentID] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[PaymentsToOrders] CHECK CONSTRAINT [PaymentsToOrders_PaymentID_Payments_PaymentID]
GO
ALTER TABLE [dbo].[PaymentsToOrders]  WITH CHECK ADD  CONSTRAINT [PaymentsToOrders_RentalOrderID_RentalOrders_OrderID] FOREIGN KEY([RentalOrderID])
REFERENCES [dbo].[RentalOrders] ([OrderID])
GO
ALTER TABLE [dbo].[PaymentsToOrders] CHECK CONSTRAINT [PaymentsToOrders_RentalOrderID_RentalOrders_OrderID]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [Persons_PersonID_Parties_PartyID] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Parties] ([PartyID])
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [Persons_PersonID_Parties_PartyID]
GO
ALTER TABLE [dbo].[Phones]  WITH CHECK ADD  CONSTRAINT [Phones_PartyID_Parties_PartyID] FOREIGN KEY([PartyID])
REFERENCES [dbo].[Parties] ([PartyID])
GO
ALTER TABLE [dbo].[Phones] CHECK CONSTRAINT [Phones_PartyID_Parties_PartyID]
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [RentalOrders_CustomerID_Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [RentalOrders_CustomerID_Customers_CustomerID]
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [RentalOrders_DiscountID_Discounts_DiscountID] FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discounts] ([DiscountID])
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [RentalOrders_DiscountID_Discounts_DiscountID]
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [RentalOrders_RentalID_Rentals_RentalID] FOREIGN KEY([RentalID])
REFERENCES [dbo].[Rentals] ([RentalID])
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [RentalOrders_RentalID_Rentals_RentalID]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [Rentals_DriverInsuranceID_DriverInsurance_InsuranceID] FOREIGN KEY([DriverInsuranceID])
REFERENCES [dbo].[DriverInsurance] ([InsuranceID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [Rentals_DriverInsuranceID_DriverInsurance_InsuranceID]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [Rentals_DriversLicenseID_DriversLicense_DriversLicenseID] FOREIGN KEY([DriversLicenseID])
REFERENCES [dbo].[DriversLicense] ([DriversLicenseID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [Rentals_DriversLicenseID_DriversLicense_DriversLicenseID]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [Rentals_DropOffLocation_Locations_LocationID] FOREIGN KEY([DropOffLocation])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [Rentals_DropOffLocation_Locations_LocationID]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [Rentals_EmployeeID_Employees_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [Rentals_EmployeeID_Employees_EmployeeID]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [Rentals_PickupLocation_Locations_LocationID] FOREIGN KEY([PickupLocation])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [Rentals_PickupLocation_Locations_LocationID]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [Rentals_VehicleID_Vehicles_VehicleID] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [Rentals_VehicleID_Vehicles_VehicleID]
GO
ALTER TABLE [dbo].[ScheduleBlocks]  WITH CHECK ADD  CONSTRAINT [ScheduleBlocks_VehicleID_Vehicles_VehicleID] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[ScheduleBlocks] CHECK CONSTRAINT [ScheduleBlocks_VehicleID_Vehicles_VehicleID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [Users_UserID_Persons_PersonID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [Users_UserID_Persons_PersonID]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [Vehicles_CurrentLocation_Locations_LocationID] FOREIGN KEY([CurrentLocation])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [Vehicles_CurrentLocation_Locations_LocationID]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [Vehicles_VehicleType_VehicleTypes_VehicleTypes] FOREIGN KEY([VehicleType])
REFERENCES [dbo].[VehicleTypes] ([VehicleTypes])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [Vehicles_VehicleType_VehicleTypes_VehicleTypes]
GO
USE [master]
GO
